          <div class="modal_window" id="modal_window_appt">
              <form class="modal_form" id="donate_modal_form">
              	<label class="header"><strong>Please provide the details here:</strong> </label> 
                <input id="name" type="text" placeholder="name">
                <p  id="name-message"></p>
                <input id="emailid" type="text" placeholder="email">
                <p  id="email-message"></p>
                <input id="phonenumber" type="text" placeholder="phone number">
                <p  id="phone-message"></p>
                <input id="amount" type="text" placeholder="amount">
                <p  id="amount-message"></p>
                <label class="header green msg"><strong></strong> </label> 
                <div>
                  <div class="actions" >
						<input id="donatesubmitForm" type="button" value="Submit">
                  </div>
                   <div class="close actions" >
						<input  type="button" value="Close">
                  </div>
                 </div>
              </form>
              
              <a  id="close_x" class="close close_x" href="#">close</a>
          </div>
          