<div class="vbanner">
	 <img src="/assets/images/image1.jpg" alt="Dr. Vjay Ramanan with  Prof R Or and Late Dr K B Grant" />
</div>

<div class="pinternational">
	<h2>Dr. Vijay Ramanan would like to welcome you. </h2>
	<div >
		<span id="intro">
				<p>Dr Vijay Ramanan is renowned Hematologist in the world. We would like to help you out in taking appointment with him. Largely these are the steps that would help you: </p>
		</span>
   	</div>
   	<div class="ibricklets ">
   		<div class="ibricklet">
   			<div class="ibrickletheader"> Why Us?
   			</div>
   			<div class="ibrickletinfo"> You deserve the best medical treatment and that is why we would like you to look at who we are..
   			</div>
   			<div class="ibrickletmore whyus">More>></div>
   		</div>
   		<div class="ibricklet">
   			<div class="ibrickletheader"> Contact Us
   			</div>
   			<div class="ibrickletinfo"> You have questions for us? We would be glad to answer. You can schedule a video conference too!
   			</div>
   			<div class="ibrickletmore icontactus">More>></div>
   		</div>
   		<div class="ibricklet">
   			<div class="ibrickletheader"> Indian Embassies
   			</div>
   			<div class="ibrickletinfo"> This link would help you with VISA formalities: <a href="http://india.gov.in/overseas/indian_missions.php" target="_blank">Indian Missions Abroad</a>
   			</div>
   		</div>

   	</div>
</div>