<div class="internationContact">
             <form class="international_contact" id="contact_us">
             	  <label class="header green msg"><strong></strong> </label> <br>
              	<label class="header"><strong>Please provide the details and we will get back to you:</strong> </label>
              	<table>
              		<tr>
              			<td>*Full Name: </td>
              			<td><input id="name" type="text" placeholder="name"></td>
              		</tr>
              		<tr>
              			<td>
              				 <p  class="red" id="name-message"></p>
              			</td>
              		</tr>
            		<tr>
              			<td>*Email ID: </td>
              			<td><input id="emailid" type="text" placeholder="email"></td>
              		</tr>
              		<tr>
              			<td>
              				 <p  class="red" id="email-message"></p>
              			</td>
              		</tr>
              		
              		<tr>
              			<td>Contact Number: </td>
              			<td><input id="phonenumber" type="text" placeholder="phone number"></td>
              		</tr>
              		<tr>
              			<td>Country: </td>
              			<td><input id="country" type="text" placeholder="country"></td>
              		</tr>
              		<tr>
              			<td>Date of Birth: </td>
              			<td><input id="dateOfBirth" type="text" style="width:30%"></td>
              		</tr>
              		<tr>
              			<td>Would you like to video conference: </td>
              			<td><input id="video" type="checkbox" ></td>
              		</tr>
             		<tr>
              			<td>Other Details you want to mention: </td>
              			<td><textarea id="otherDetails" rows="10" cols="60" placeholder="Please type your query here"></textarea></td>
              		</tr>              		              		
              	</table> 
 
                <div>
                  <div class="actions" >
						<input id="submitContactForm" type="button" value="Submit">
                  </div>

                 </div>
              </form>
</div>

