					<div class="vbanner">
						<ul class="bxslider">
						  <li><img src="/assets/images/image1.jpg" title="Dr. Vjay Ramanan with  Prof R Or and Late Dr K B Grant" alt="Dr. Vjay Ramanan with  Prof R Or and Late Dr K B Grant" /></li>
						  <li><img src="/assets/images/image2.jpg" title="Dr Vijay Ramanan with Kenyan Health Minister" alt="Dr Vijay Ramanan with Kenyan Health Minister" /></li>
						</ul>
			        </div>
					<div class="mainpart">
						<span id="intro">
							<h1>Dr. Vijay Ramanan - Yashoda Hematology Clinic Pune</h1>
							<h2>Excellent hematologist trained in one of the best center for hematology in world 
								(Christian Medical College, Vellore). </h2>
							<h3>Pioneer of <b>Cord blood , Bone marrow, Stem cell, Haploidentical transplant</b>. </h3>
								<p>Created the best transplant centre in western India with advanced facility like HLA matching, HEPA filtered rooms with minimal recirculation and trained dedicated department at <a href="http://www.rubyhall.com" target="_blank">Ruby Hall Clinic</a>, Pune.</p>
							<p>Dr. Vijay Ramanan is best hematologist and bone marrow physicians in central India. Yashoda Hematology Clinic,Pune is the only stand alone lab doing work on Hemophilia and Thrombophilia. He is also the founding Director and transplant unit head at <a href="http://www.rubyhall.com" target="_blank">Ruby Hall Clinic</a>, Pune. 
							</p>						
						</span>
		        	</div>
		        	<div class="bricklets">
		        		<div class="bricklet">
		        			<div class="brickletheader"> Knowledge Center
		        			</div>
		        			<div class="brickletinfo"> We have wealth of information on cancer, bone marrow transplant and all the related items
		        			</div>
		        			<div class="brickletmore">More>></div>
		        		</div>
		        		<div class="bricklet">
		        			<div class="brickletheader"> Testimonials
		        			</div>
		        			<div class="brickletinfo"> Read how we have been able to help patients. Stories told by them...
		        			</div>
		        			<div class="brickletmore">More>></div>
		        		</div>
		        		<div class="bricklet">
		        			<div class="brickletheader"> Videos
		        			</div>
		        			<div class="brickletinfo"> Dr. Vijay Ramanan has shared his knowledge on how to prevent cancer and how to stay healthy. 
		        			Watch here...
		        			</div>
		        			<div class="brickletmore">More>></div>
		        		</div>

		        		<div class="bricklet">
		        			<div class="brickletheader"> Clinical Studies
		        			</div>
		        			<div class="brickletinfo"> More information on clinical studies
		        			</div>
		        			<div class="brickletmore">More>></div>
		        		</div>

		        	</div>	