<h2>Dr. Vijay Ramanan has performed over 200 tranplants. Following slideshow shows some of his patients and their appreciation note. </h2>
<div class="vbantest" >
	<ul class="bxslider">
	  <li><img src="/assets/images/Testimonial1.jpg" title="Thalassaemia patient cured from father's bone marrow" alt="Thalassaemia patient cured from father's bone marrow" /></li>
	  <li><img src="/assets/images/Testimonial2.jpg" title="Patient from Yemen post chemotherapy" alt="Patient from Yemen post chemotherapy" /></li>
	  <li><img src="/assets/images/Testimonial3.jpg" title="Patient of Leukaemia post transplant; mother was the donor" alt="Patient of Leukaemia post transplant; mother was the donor" /></li>
	  <li><img src="/assets/images/Testimonial4.jpg" title="Award given by India International Friendship Society" alt="Award given by India International Friendship Society" /></li>
	  <li><img src="/assets/images/Testimonial5.jpg" title="First unrelated cord blood stem cell transplant of India for Thalassaemia done by Dr. Vijay Ramanan" alt="First unrelated cord blood stem cell transplant of India for Thalassaemia done by Dr. Vijay Ramanan" /></li>
	  <li><img src="/assets/images/Testimonial6.jpg" title="First Iraqi child cured of Thalassaemia WITHOUT Transplant by Hydroxyurea and WheatGrass" alt="First Iraqi child cured of Thalassaemia WITHOUT Transplant by Hydroxyurea and WheatGrass" /></li>
	  <li><img src="/assets/images/Testimonial7.jpg" title="Transplant awareness at Ruby Hall Clinic" alt="Transplant awareness at Ruby Hall Clinic" /></li>
	  <li><img src="/assets/images/Testimonial8.jpg" title="Thalassaemia patient post transplant from 8 month old Donor bone marrow and cord blood" alt="Thalassaemia patient post transplant from 8 month old Donor bone marrow and cord blood" /></li>
	  <li><img src="/assets/images/Testimonial9.jpg" title="First twin transplant in India" alt="First twin transplant in India" /></li>
	  <li><img src="/assets/images/Testimony_1.jpg" title="Letter of appreciation by patient" alt="Letter of appreciation by patient" /></li>
	  <li><img src="/assets/images/Testimony_2.jpg" title="Letter of appreciation by patient" alt="Letter of appreciation by patient" /></li>
	  <li><img src="/assets/images/Testimony_3.jpg" title="Letter of appreciation by patient" alt="Letter of appreciation by patient" /></li>
	</ul>
</div>
