#maincontainer{width:100%;background: #fe5d62}
.additional{background-color: #2a2a2a;min-height: 150px}
.additionalbox{margin: 0 auto;max-width: 1200px;width: 1200px;}
.quicklinks{float: left;width: 38%;border-right: 1px solid rgba(0,0,0,0.2);box-shadow: 1px 0px 0px 0px rgba(255,255,255,0.4);}
.newslinks{float: right;width: 38%;}
.android{min-height: 120px;float: left;width: 20%;border-right: 1px solid rgba(0,0,0,0.2);box-shadow: 1px 0px 0px 0px rgba(255,255,255,0.4);}
.quicklinkheader{text-align: center;color: white;font-size:14px;font-weight:normal;font-family: 'Open Sans', sans-serif;border-bottom: 1px solid rgba(246, 232, 232, 0.2);padding-bottom: 5px;margin-right: 5px;margin-left: 5px;}
.quicklinks ul{text-align: center;color: white;width: 150px;list-style: none;overflow: hidden;float: left;padding-top: 5px;font-family: 'Open Sans', sans-serif;font-size: 14px;}
.quicklinks ul a{color: white;text-decoration: none;display: inline-block;padding-bottom: 10px;}
.newslinks ul{color: white;width: 200px;list-style: none;overflow: hidden;float: left;padding-top: 5px;font-family: 'Open Sans', sans-serif;font-size: 14px;}
.newslinks  ul li span {width: 26px;height: 22px;float: left;margin: 0 5px 0 0;}
.newslinks ul a{color: white;text-decoration: none;display: inline-block;padding-bottom: 10px;}
.connectLinkFB {background: url('../images/connect.jpg') no-repeat -6px -3px scroll transparent;}
.connectLinkLI {background: url('../images/connect.jpg') no-repeat -34px -3px scroll transparent;}
.connectLinkT {background: url('../images/connect.jpg') no-repeat -3px -28px scroll transparent;}
.connectLinkYT {background: url('../images/connect.jpg') no-repeat -33px -28px scroll transparent;}
.connectLinkG {background: url('../images/connect.jpg') no-repeat -6px -52px scroll transparent;}
.connectLinkB {background: url('../images/connect.jpg') no-repeat -34px -56px  scroll transparent;}
.android ul{text-align: center;margin-top: 30px;color: white;list-style: none;overflow: hidden;padding-top: 5px;font-family: 'Open Sans', sans-serif;font-size: 14px;}
.myticker {margin: 0 auto;max-width: 1200px;width: 100%;}
.fluid_container {margin: 0 auto;max-width: 1200px;width: 100%;}
#google_translate_element{float: right}
.logo{background: url(../images/yashoda_logo.png);width: 200px;height: 90px}
.logoheader{background-color: #2a2a2a;height: 90px; width: 100%;-moz-box-shadow: 4px 4px 14px #000;  -webkit-box-shadow: 4px 4px 14px #000;  box-shadow: 4px 4px 14px #000;    }
.yheaders{margin:0 auto; width: 1200px;}
.slideshow{ width:100%;background: url(../images/back.jpg) no-repeat;overflow:hidden;background-size:cover;}
.maincontent{margin: 0 auto;width:100%;max-width:1140px;padding:0 20px;font-family: 'Open Sans', sans-serif, Arial, Halvetica;line-height: 1.35em;font-size: 14px;color: white;}
.ktcontent{margin: auto;width: 95%;border: 2px #000 solid;padding-top: 20px}
.itemlist{position: relative;width: 100%;text-align: center;}
.desc{color: #000;}
.itemul{overflow: hidden;white-space: normal;}
.itemul>li{display: inline-block;position: relative;margin: 5px;vertical-align: top;width: 270px;}
.item{width:270px;height: 270px;margin:auto;}
.internl{background:  url(../images/international.jpg) no-repeat;}
.itemheader{float:left;}
.itemtext{float: left;height: 80px;padding: 0 15px 0 20px;margin: 10px 0 0 0;font-size: 14px;}
.social{position: fixed;top: 20%;left: -10px;height:450px;z-index: 100000;opacity:0.3;}
.social:hover{opacity:1;left:0px}
#topsection{background: url(../images/blood_cells.jpg) repeat-x top center;border-bottom:0;height:162px;margin:0 0 15px 0;overflow:hidden;padding:0;}
#topsection #searchandlogin{height:40px;margin:19px 0px 0px 652px;padding:0px;}
#topsection #searchandlogin #searcharea{padding-top:0px;}
#topsection #searchandlogin img{padding-right:5px;}
#topsection #searcharea input.searchicon{padding:2px 0 0 5px;vertical-align:top;}
#logoarea h1 a span{cursor:pointer;float:left;height:90px;text-indent:-9000px;width:600px;}
#auxillarynav {margin:12px 0px 0px 616px;padding:0px;font-size:23px;color:#9D2D2C;text-align: right;}
#auxillarynav a{color:#9D2D2C;border-right-width: 1px;border-top-style: none;border-right-style: solid;border-bottom-style:none;border-left-style: none;border-right-color: #000FFF;display: inline;margin: 0px;padding-top: 0px;padding-right:7px;padding-bottom: 0px;	padding-left: 5px}
#auxillarynav a.last{border:none;font-weight: bold;}
.fixednav {paddingright:0px;font-size:12px;color:#000FFF;float:right;top:120px;position:absolute;right: 100px;font-size: 14px;font-family: Verdana, Geneva, sans-serif;}
.fixednav a{color:white;}
.fixednav pre{color:white;font-size: 14px;font-family: Verdana, Geneva, sans-serif;}
#menunav {top:-20px;position: relative;margin:12px 0px 0px 0px;padding:0px;font-size:12px;color:#000FFF;float:left;}
#menunav a{color:white;}
#menunav a.last{border:none;}
#nav{height:35px;background: url(../images/menu.jpg) top center;width: 100%;}
#secondarynav{font-size:114%;height:39px;margin:0 0 0 524px;}
#secondarynav li{color:#5d501b;display:inline;float:left;margin:0px;padding:0px}
#secondarynav li a{display:block;height:39px;overflow:hidden;text-indent:-9999px;}
#secondarynav ul{display:inline;list-style:none;margin:0;padding:0 0 15px;}
#globalnav{float:left;font-size:77%;height:39px;margin:0px;padding-left:15px;width:521px;}
#globalnav li{float:left;margin:0;padding-right:1px;}
#globalnav li a{color:#000;display:block;float:left;clear:none;font-family:"Trebuchet MS",sans-serif;font-size:15px;font-weight: 700;height:39px;margin-left:1px;padding:9px 7px 0px;text-align:center;text-transform:uppercase;}
#globalnav ul{display:inline;list-style:none;margin:0;padding:0;}
#jsddm{	margin: 0;padding: 0;background: #9D2D2C;z-index:1000;}
#jsddm li{	float: right;list-style: none;font-size: 14px;text-align:center;z-index:1000;}
#jsddm li a{ border-radius: 12px;display: block;background: ##000;padding: 8px;text-decoration: none;border-right: 1px solid white;border-left: 1px solid white;width: 70px;color: #EAFFED;white-space: nowrap;border-bottom: solid 1px;border-top: solid 1px;margin-left:5px;font-size:11px}
#jsddm li a:hover{background: #1A4473;font-weight: bold;}
#jsddm li ul{margin: 0;padding: 0;position: absolute;visibility: hidden;border-top: 1px solid white;z-index:1000;}
#jsddm li ul li{float: none;display: inline;z-index:1000;}
#jsddm li ul li a{width: auto;background: #9F1B1B;border-bottom: 1px solid white;}
#jsddm li ul li a:hover{background: #7F1616}
#slides{float:left;}
.slides_container {width:650px;height:270px;}
.slides_container div {width:650px;height:300px;display:block;background-size: 100%;}
.slides_container img {max-width: 100%; }
#message{font-family: Arial,Helvetica,sans-serif;height:20px;position: absolute;top: 0px;z-index: 80;text-align: center;font-weight: bold;font-size: 100%;color: white;padding: 10px 0px 10px 0px;float:right;left: 990px;}
#message span{text-align: center;width: 95%;float: left;}
.close-notify{white-space: nowrap;float: right;margin-right: 10px;color: #000;text-decoration: none;border: 2px #000 solid;padding-left: 3px;padding-right: 3px;}
.close-notify a{color: #000;}
* { margin:0; padding:0; }
#newsticker {border: 1px solid #9D2D2C;;width:310px;background:#F2F5F7;font-family:Verdana,Arial,Sans-Serif;font-size:12px;margin:20px auto;float:right;}
#newsticker a { text-decoration:none; }
#newsticker img { border: 2px solid #000FFF;max-width: 100%; }
#newsticker .title {text-align:center;font-size:14px;font-weight:bold;padding:5px;color:white;background:#000}
.newsticker-jcarousellite { width:100%; }
.newsticker-jcarousellite ul li{ list-style:none; display:block; padding-bottom: 10px;padding-top: 10px;border: 1px solid #CCC;}
.newsticker-jcarousellite .thumbnail { float:left; width:70px;height:70px;background-size: 100%; }
.newsticker-jcarousellite .info { float:right; width:190px; }
.newsticker-jcarousellite .info span.cat { display: block; font-size:10px; color:#808080; }
.clear { clear: both; }
#quicklinks {float:left;width:20%;background:white;font-family:Verdana,Arial,Sans-Serif;font-size:12px;float:right;border: 1px solid #9D2D2C;background: #F2F5F7;}
#quicklinks .title {text-align:center;font-size:14px;font-weight:bold;padding:5px;color:white;background:#000}
#quicklinks ul li{ list-style:none; display:block; border: 1px solid #CCC;padding-bottom: 10px;padding-top: 10px;}
#quicklinks .info { width:250px;text-decoration: none;font-size:17px;font-weight:bold }
#quicklinks .info a{ text-decoration: none;font-size:17px;color:#000 }
.mainpart{position:relative;width:100%; clear:both;}
.centerpart{width:20%;padding-top: 10px;float:right;}
.mainpart h1 {font-size: 28px;font-family: Verdana, Geneva, sans-serif;font-weight: bold;color:#000;text-align:center;}
.mainpart h2 {font-size: 18px;font-family: Verdana, Geneva, sans-serif;color:#000;padding-top: 10px;padding-bottom:10px;padding-left:20px;}
.mainpart h3 {font-size: 14px;font-family: Verdana, Geneva, sans-serif;color:#000;padding-top: 10px;padding-bottom:10px;padding-left:20px;}
.mainpart p {text-indent: 20px;padding-bottom:10px;padding-left:3px;padding-right:3px;}
.mainpart ul {font-size: 14px;font-family: Verdana, Geneva, sans-serif;color:#000;height:50px;padding-left: 40px;}
.mainpart ul a{font-size: 14px;font-family: Verdana, Geneva, sans-serif;color:#000;height:50px;padding-left: 40px;}
.mainpart #intro {font-size: 14px;font-family: Verdana, Geneva, sans-serif;color:#000;padding-right: 10px;}
.mainpart #intro ul{font-size: 14px;font-family: Verdana, Geneva, sans-serif;color:#000;padding-right: 10px;}
.toppart{min-height: 480px;bottom:0;width:100%; -moz-box-shadow: 4px 4px 14px #000;  -webkit-box-shadow: 4px 4px 14px #000;  box-shadow: 4px 4px 14px #000;    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2)}
#highlights{margin:0 auto;width:1050px;float:left}
tr.selected {background-color: red; color: white;}
/*light me*/
.modal_window {display:none;-moz-border-radius: 6px;background-color:#aed0ea;-webkit-border-radius: 6px;border: 1px solid #536376;-webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;-moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;;padding: 14px 22px;width: 600px;height:auto;position: relative;}
.modal_window #modal_form {margin-top: 13px;font-family: Verdana, Geneva, sans-serif;color:black;}
.modal_window label {display:block;margin-bottom: 10px;color: #000;font-size: 14px;font-family: Verdana, Geneva, sans-serif;}  
.modal_window  input {padding: 2px 8px;font-size: 1.2em;line-height: 31px;display: block;margin-top:5px;margin-bottom: 5px;}
.modal_form {position: relative;padding-bottom: 54px;margin-bottom: 12px;font-family: Verdana, Geneva, sans-serif;color: #000;font-size: 14px;font-weight:bold;}
.modal_form .fields{        vertical-align: middle;    height: 50px;    border: 1px solid red;}
.actions {float: right;right: 0;height: 31px;bottom: 20px;}
a.form_button {float: left;width: 93px; height: 31px;margin-right: 15px;}
.close_x {background-size: 100%;width: 32px; height: 32px;overflow: hidden; line-height: 1000px;display: block;position: absolute; top: 5px; right: 5px;background:url(../images/x.gif) no-repeat;background-position: 50% 50%;}
.spritedselected {line-height: 200px;overflow: hidden;display: block;width:90%;height:30px}
.sprited {line-height: 200px;overflow: hidden;display: block;width:90%;}
.spritedtextarea {overflow: hidden;display: block;width:90%;height:100px}
.firstField{padding-right:20px;}
.smallText{width:100px}
/*light me*/
.news {border: 1px solid #9D2D2C;;width:310px;background:#F2F5F7;font-family:Verdana,Arial,Sans-Serif;font-size:12px;margin:20px auto;float:right;display: none}
.news a { text-decoration:none; }
.news img { border: 2px solid #000FFF;max-width: 100%; }
.news .title {text-align:center;font-size:14px;font-weight:bold;padding:5px;color:white;background:#000}
.news-jcarousellite { width:100%; }
.news-jcarousellite ul li{ list-style:none; display:block; padding-bottom: 10px;padding-top: 10px;border: 1px solid #CCC;}
.news-jcarousellite .thumbnail { float:left; width:70px;height:70px;background-size: 100%; }
.news-jcarousellite .info { float:right; width:190px; }
.news-jcarousellite .info span.cat { display: block; font-size:10px; color:#808080; }
.clear { clear: both; }
.appmentFont{color: #536376;font-size: .9em;font-weight:bold;}
p a{color:#000;}
a{color:#000;}
.footer{background-color: #2a2a2a;font-family:Verdana,Arial,Sans-Serif;font-size:12px;padding-top:8px;text-align: right;height:30px;color:white;margin: 0 auto;border-top: 1px solid rgba(0,0,0,0.2);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);}
.arrowlistmenu{width: 30%;float: left; /*width of accordion menu*/}
.arrowlistmenu .menuheader{ /*CSS class for menu headers in general (expanding or not!)*/font: bold 14px Arial;color: white;background: black url(../images/titlebar.png) repeat-x center left;margin-bottom: 10px; /*bottom spacing between header and rest of content*/text-transform: uppercase;padding: 4px 0 4px 10px; /*header text is indented 10px*/cursor: hand;cursor: pointer;}
.arrowlistmenu .openheader{ /*CSS class to apply to expandable header when it's expanded*/background-image: url(../images/titlebar-active.png);}
.arrowlistmenu ul{ /*CSS for UL of each sub menu*/list-style-type: none;margin: 0;padding: 0;margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/}
.arrowlistmenu ul li{padding-bottom: 2px; /*bottom spacing between menu items*/}
.arrowlistmenu ul li .opensubheader{ /*Open state CSS for sub menu header*/background: lightblue !important;}
.arrowlistmenu ul li .closedsubheader{ /*Closed state CSS for sub menu header*/background: lightgreen !important;}
.arrowlistmenu ul li a{color: #A70303;background: url(../images/arrowbullet.png) no-repeat center left; /*custom bullet list image*/display: block;padding: 2px 0;padding-left: 19px; /*link text is indented 19px*/text-decoration: none;font-weight: bold;border-bottom: 1px solid #dadada;font-size: 90%;}
.arrowlistmenu ul li a:visited{color: #A70303;}
.arrowlistmenu ul li a:hover{ /*hover state CSS*/background-color: #F3F3F3;}
.arrowlistmenu ul li a.subexpandable:hover{ /*hover state CSS for sub menu header*/background: lightblue;}
.titlec {font-size: small;}
ul.videos li {float: left; width: 10em;  margin-bottom: 1em;}
ul.videos{  margin-bottom: 1em;  padding-left : 0em;  margin-left: 0em;  list-style: none;}
#playContainer{width: 20em; height: 180px;padding-left: 40%; }
#news{display: none}
#calendar{margin:auto;width: 80%}
.documentdisplay{width: 100%;z-index:1;}
#documentdisplay{width: 100%;height: 100%;z-index:1;}
.iframe {  margin-top: 20px;  margin-bottom: 30px;  -moz-border-radius: 12px;  -webkit-border-radius: 12px;  border-radius: 12px;  -moz-box-shadow: 4px 4px 14px #000;  -webkit-box-shadow: 4px 4px 14px #000;  box-shadow: 4px 4px 14px #000;    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2)}
.aboutul{ height:400px !important;}
.hospitaldrowdown{width: 100%;padding-left: 100px;}
.hospitaldrowdown label {display: block;margin-bottom: 10px;color: #536376;font-size: .9em;}  
.hospitaldrowdown label select {font-size: 1.2em;line-height: 31px;width: 500px;}
.hospitaldrowdown label strong {font-family: tahoma;font-size: 1.3em;color:#000;}
.banner{height: 50px;font-family:"Trebuchet MS",sans-serif;font-size:30px;font-weight: 700;color: black; margin-bottom: 5px;}
/* .background{background-color:#A9D0F5;} */
.control{width:5%;float:left;}
.button{border: 1px solid #9D2D2C;width:90%;height:30px;padding-top:10px;font-family:Verdana,Arial,Sans-Serif;font-size:12px;font-weight:bold;color:#000;-moz-border-radius: 12px;  -webkit-border-radius: 12px;  border-radius: 12px;  -moz-box-shadow: 4px 4px 14px #000;  -webkit-box-shadow: 4px 4px 14px #000;  box-shadow: 4px 4px 14px #000;    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);text-align:center;margin-top:20px;}
.button a{ text-decoration: none;color:#000;}
.button a:hover{ text-decoration: underline;font-weight:bolder;}
#maincontent .mainpart{width:97%;float:left;}
#maincontent .centerpart{width:20%;padding-top: 10px;float:right;}
#maincontent .mainpart h1 {font-size: 28px;font-family: Verdana, Geneva, sans-serif;font-weight: bold;color:#000;text-align:center;height:50px}
#loginframe{width: 150px;height: 38px;padding-top:5px;position:absolute;top:30px;left:400px;display:none;opacity:0.9; -moz-border-radius: 3px;  -webkit-border-radius: 3px;  border-radius: 3px; background-color:#000; }
.uparrowdiv:after{content:'';display:none;position:absolute;top:30px;left:460px;width:0;height:0;border-color: transparent transparent #000 transparent;border-style: solid;border-width: 10px;}
.clearfix{text-align:center !important;}
#nav-menu ul{font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 14px;font-style: normal;line-height: 3em;font-weight: normal;font-variant: normal;text-transform: none;color: #00CC33;text-decoration: none;text-indent: 5px;list-style-position: outside;list-style-type: square;padding: 6px;margin: 2px;}
#showdocuments{display:none;text-decoration:none;width: 300px;height: 20px;background: #4E9CAF;padding: 10px;text-align: center;border-radius: 5px;color: white;font-weight: bold;}
.knowledgetable{margin:10px;}
.knowledgetable td{padding-left:30px;text-align:left;vertical-align:top;}
.knowledgetable h2{font-size: 14px;font-family: Verdana, Geneva, sans-serif;font-weight: bold;color:#000;padding-top:1px;height:30px}
.knowledgetable h2 a{text-decoration:none;}
.knowledgetable tr td{border-bottom: 1px solid #000;padding-bottom:10px;}
.knowledgetable h2 a:hover{text-decoration:underline;}
.knowledgediv{line-height:115%;border-bottom: 1px solid #000;}
.knowledgediv h1 {font-size: 20px;font-family: Verdana, Geneva, sans-serif;font-weight: bold;color:#000;text-align:center;}
.leftarrowdiv{position: absolute;display:none;width:0px;min-height:40px; /*min height of DIV should be set to at least 2x the width of the arrow*/background: #DEDEDE;color:white;word-wrap:break-word;margin-bottom:2em;}
.leftarrowdiv:after{ /*arrow added to leftarrowdiv DIV*/content:'';display:block;position:absolute;top:10px;left:-20px; /*should be set to -border-width x 2 */width:0;height:0;border-color: transparent #DEDEDE transparent transparent; /*border color should be same as div div background color*/border-style: solid;border-width: 10px;}
.banner img{float: left;padding-left:40px;padding-top:8px;}
.infoBox {width: 955px;margin-left: 0px auto;position: absolute;bottom: -100px;}
.infoBox .tpfrts {background: url(../images/bott_snip_top_hdr.png) no-repeat 0 bottom;height: 7px;}
.infoBox .midfrts {background: url(../images/bottom_snippet_trans_bg.png) repeat;height: 169px;}
.infoBox .midfrts ul li {margin-right: 5px;float: left;width: 313px;position: relative;padding-top: 10px;margin-top: -7px;}
.infoBox .midfrts ul li a.txtHd {font-family: 'helveticaneueregular';font-size: 28px;color: #000fff;text-transform: uppercase;display: block;padding-left: 25px;border-bottom: 2px solid #00a950;height: 30px;padding-bottom: 5px;padding-top: 5px;}
.infoBox .cont {background: url(../images/bottom_snippet_trans_bg_content.png) repeat;width: 100%;float: left;padding: 8px 0 16px;height: 100px;}
.testimony{width:95%;height:100%;border: 4px solid #000;border-left-width:30px;border-right-width:30px;-moz-border-radius: 12px;  -webkit-border-radius: 12px;  border-radius: 12px;}
.prevdiv:after{ /*arrow added to leftarrowdiv DIV*/content:'';display:block;position:absolute;top:450px;left:188px; /*should be set to -border-width x 2 */width:0;height:0;border-color: transparent #DEDEDE transparent transparent; /*border color should be same as div div background color*/border-style: solid;border-width: 25px;}
.nextdiv:after{ /*arrow added to rightarrowdiv DIV*/content:'';display:block;position:absolute;top:450px;left:92%; /*should be set to 100% */width:0;height:0;border-color: transparent transparent transparent #DEDEDE; /*border color should be same as div div background color*/border-style: solid;border-width: 25px;}
.testidiv{font-size: 14px;font-family: Verdana, Geneva, sans-serif;padding-top:30px;padding-left:10px;color:#000;}
.testidiv a img{    width:10%;}
.jGrowl-header a{color:#F2F5A9;text-decoration:none;}
.jGrowl-header a:hover{text-decoration:underline;}
.slimScrollDiv p {line-height: 25px; margin:5px 0; font-size:12px; border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: grey;padding-bottom: 15px;padding-top: 15px;}
/*pre.prettyprint { padding:15px; border:1px solid #eee; border-radius:5px; background:#eee; border-bottom:3px solid; }*/
.slimScrollDiv { border:1px solid #eee; width:80%; font-size: 14px;font-family: Verdana, Geneva, sans-serif;padding-left:10px;color:#000;}
.slimScrollDiv #recentactivities{ padding-left:10px;  padding-right:10px;width:90%;}
#navright {float:right; background:#e7ecf2; padding:15px; border-radius:20px; width:20%;height:400px;margin-top:50px; }
#navright ul { list-style-type:square; list-style-position:inside; margin:20px 0 0 0; padding:0; font-size: 12px;font-family: Verdana, Geneva, sans-serif;color:#000;}
#navright h1{font-size: 14px;font-family: Verdana, Geneva, sans-serif;font-weight: bold;color:#000;text-align:center;height:20px}
#navright a { text-decoration:none; color:#000; }
#navright a:hover { text-decoration: underline }
.outershell{width:75%;float:left;}
.slimScrollDiv p  a { text-decoration:none; color:#a6aac5; }
.slimScrollDiv p  a:hover { text-decoration: underline }
#navright ul a{font-size: 10px;font-family: Verdana, Geneva, sans-serif;color:#000;padding-left: 0px;}
#navright li{padding-bottom:5px;}
.time{font-size:9px;color:gray;}
.date{color:gray;}
.s-desc1{width:auto !important;}
.doctor{font-size: 12px;font-family: Verdana, Geneva, sans-serif;color: #a6aac5;padding-left: 0px;}
.patient{font-size: 12px;font-family: Verdana, Geneva, sans-serif;color: #a6aac5;padding-left: 0px;}
#doc_appointment{width:1000px;top:0;}
legend{font-family: Verdana, Geneva, sans-serif;color: #000;font-size: 10px;font-style: italic;}
fieldset{border-color:#000;border-width:1px }
fieldset, fieldset.collapsible {	padding: 10px;	border: 1px solid black;	border-bottom-width: 1px;	border-left-width: 1px;	border-right-width: 1px;	margin-bottom: 1em;}
fieldset.collapsed {	border-bottom-width: 0;	border-left-width: 0;	border-right-width: 0;	margin-bottom: 0;	margin-left: 3px;}
legend.collapsible {	color: blue;background: transparent url(../images/expanded.gif) no-repeat center left;padding-left: 10px;}
legend.collapsed {	color:green;background: transparent url(../images/collapsed.gif) no-repeat center left;padding-left: 10px;}
#investigationType{float:right}
.vbanner{width:99%;height:350px;margin:auto;}
.vban{display:none;}
.vbantest{display:none;width:60%;margin:auto;padding-top: 30px}
.bricklets{margin-left:15px; width:100%;height:150px; bottom:0px;}
.bricklet{background-color: #6E6E6E;opacity: 0.9;margin-right:4px;width:19%;float: left;height:100%;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;border: 1px solid #000;-webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;-moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;}
.brickletheader{border-bottom:1px;border-bottom-color: #000;border-bottom-style: solid;font-size: 20px;font-family: Verdana, Geneva, sans-serif;color:#fff;text-align:center;height:30px;width:100%}
.brickletmore{float:right;font-size: 16px;font-family: Verdana, Geneva, sans-serif;font-weight: bold;color:#fff;text-align:center;cursor:pointer;}
.intro p{font-size: 14px;font-family: Verdana, Geneva, sans-serif;color:#000;padding-right:5px;}
.brickletinfo{padding-top:10px;padding-left:3px;height:50%;font-size: 14px;font-family: Verdana, Geneva, sans-serif;color:#fff;}
.vijay{float:left;height: 100%;margin-left: 10px;padding-top: 5px;width: 25%;}
.vijayphoto{background: url(../images/vijay_ramanan.jpg) no-repeat;height: 255px;margin-top: 10px;margin-bottom: 10px;background-position: center;}
.ketkiphoto{background: url(../images/ketki.jpg) no-repeat;height: 255px;margin-top: 10px;margin-bottom: 10px;background-position: center;}
.aboutlab{margin-bottom: 10px;}
.vijay img{height: 45px;float: right;padding-top:0px;}
.options{cursor: pointer;float:right;;font-family:"Trebuchet MS",sans-serif;font-size:14px;padding-right:5px;padding-top:15px;}
.option{background-color: #6E6E6E;margin-right: 3px;float: right;line-height:30px;width:125px; font-size: 16px;font-family: Verdana, Geneva, sans-serif;color:#fff;text-align:center;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;border: 1px solid #000;-webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;-moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;}
.logo{cursor: pointer;float:left;}
.pcontactus{padding-top:20px;font-size: 16px;font-family: Verdana, Geneva, sans-serif;font-weight: bold;color:#000;text-align:center;}
.paboutus{font-size: 16px;font-family: Verdana, Geneva, sans-serif;font-weight: bold;color:#000;padding-top: 50px;padding-left: 100px;line-height: 30px;}
#playerContainer{padding-top:50px}
#videos2{padding-left:30px}
input[type="text"]{    font-family: Verdana, Geneva, sans-serif;font-size: 15px;border: 1px double #DDD;    border-radius: 2px;    box-shadow: 0 0 5px #333;height:25px;width:80%;margin-bottom: 20px;}
textarea{    font-family: Verdana, Geneva, sans-serif;font-size: 15px;border: 1px double #DDD;    border-radius: 2px;    box-shadow: 0 0 5px #333;margin-bottom: 20px;}
input[type="button"]{font-family: Verdana, Geneva, sans-serif;font-size: 15px;font-weight:bold;border: 1px double #DDD;border-radius: 2px;
			box-shadow: 0 0 5px #333;height:30px;width:100px;float: right;margin-right: 100px;}
input[type="button"]:hover{cursor:pointer;}
input[type="button"]:active{background-color:#c7e4f6;}
.green{color:green !important;}
.red{color:red !important;}
.pinternational{font-size: 16px;font-family: Verdana, Geneva, sans-serif;font-weight: bold;color:#000;padding-top: 30px;padding-left:10px;padding-right:10px;line-height: 30px;margin-bottom: 10px;}
.pinternational h2{text-align: center;padding-bottom: 10px}
.bleft{padding-left: 50px}
.ibricklets{margin:auto; width:90%;height:200px; bottom:0px;padding-top: 5px;padding-left: 10px}
.ibricklet{-moz-border-radius: 5px;  -webkit-border-radius: 5px;  border-radius: 5px;  margin-right:14px;width:30%;float: left;height:100%;border: 1px solid #000;-webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;-moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;}
.ibrickletheader{border-bottom:1px;border-bottom-color: #000;border-bottom-style: solid;font-size: 20px;font-family: Verdana, Geneva, sans-serif;font-weight: bold;color:#000;text-align:center;height:30px;width:100%}
.ibrickletmore{float:right;font-size: 16px;font-family: Verdana, Geneva, sans-serif;font-weight: bold;color:#000;text-align:center;cursor:pointer;}
.ibrickletinfo{padding-top:10px;padding-left:3px;height:50%;font-size: 14px;font-family: Verdana, Geneva, sans-serif;color:#000;}
.modal_window1 {-moz-border-radius: 6px;background-color:#aed0ea;-webkit-border-radius: 6px;border: 1px solid #536376;-webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;-moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;;padding: 14px 22px;width: 800px;height:auto;position: relative;}
.modal_window1 #modal_form {margin-top: 13px;font-family: Verdana, Geneva, sans-serif;color:black;}
#faqs dt, #faqs dd { padding: 0 0 0 50px }
#faqs dt { font-size:20px; color: #000; cursor: pointer; height: 37px; line-height: 37px; margin: 0 0 15px 25px}
#faqs dd { font-size: 14px;font-family: Verdana, Geneva, sans-serif; margin: 0 0 20px 25px}
#faqs dd ul{margin-left: 30px;}
#faqs dt { background: url(../images/expand-icon.png) no-repeat left}
#faqs .expanded { background: url(../images/expanded-icon.png) no-repeat left}
.clinicalsection{padding-top:50px;padding-left:10px;}
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
.setsession input[type="text"]{width:100%}
.setsession input[type="button"]{width:50%;margin-top: 10px}
.setsession{width:300px;font-size: 16px;font-family: Verdana, Geneva, sans-serif;font-weight: bold;color:#000;padding-top: 50px;padding-left: 100px;line-height: 30px;}
.publisher_1{padding-top: 20px;margin:auto;height:600px;width:800px}
.internationContact{margin: auto;width: 800px;padding-top: 40px;height: 700px;}
.containsAll{height: 550px;width:1100px;padding-left: 50px;padding-top: 50px}
.myself{height: 300px;width:400px;}
.other{height: 500px;width:600px;}
#showdocuments:HOVER {cursor: pointer;}
.intro{width: 75%;float: left;height:300px;text-align: left;}
.rss{ width:151px;height:300px;float:right;margin-right: 30px;font-family: Verdana, Geneva, sans-serif;text-align: center;}
.ticker-wrapper.has-js{margin:20px 0;padding:0 20px;width:1150px;height:32px;display:block;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;background-color:#f8f0db;font-size:.75em}.ticker{width:1080px;height:23px;display:block;position:relative;overflow:hidden;background-color:#f8f0db}.ticker-title{padding-top:9px;color:#900;font-weight:700;background-color:#f8f0db;text-transform:uppercase}.ticker-content{margin:0;padding-top:9px;position:absolute;color:#1F527B;font-weight:700;background-color:#f8f0db;overflow:hidden;white-space:nowrap;line-height:1.2em}.ticker-content:focus{none}.ticker-content a{text-decoration:none;color:#1F527B}.ticker-content a:hover{text-decoration:underline;color:#0D3059}.ticker-swipe{padding-top:9px;position:absolute;top:0;background-color:#f8f0db;display:block;width:800px;height:23px}.ticker-swipe span{margin-left:1px;background-color:#f8f0db;border-bottom:1px solid #1F527B;height:12px;width:7px;display:block}.ticker-controls{padding:8px 0 0;list-style-type:none;float:left}.ticker-controls li{padding:0;margin-left:5px;float:left;cursor:pointer;height:16px;width:16px;display:block}.ticker-controls li.jnt-play-pause{background-image:url(../images/controls_ticker.png);background-position:32px 16px}.ticker-controls li.jnt-play-pause.over{background-position:32px 32px}.ticker-controls li.jnt-play-pause.down{background-position:32px 0}.ticker-controls li.jnt-play-pause.paused{background-image:url(../images/controls_ticker.png);background-position:48px 16px}.ticker-controls li.jnt-play-pause.paused.over{background-position:48px 32px}.ticker-controls li.jnt-play-pause.paused.down{background-position:48px 0}.ticker-controls li.jnt-prev{background-image:url(../images/controls_ticker.png);background-position:0 16px}.ticker-controls li.jnt-prev.over{background-position:0 32px}.ticker-controls li.jnt-prev.down{background-position:0 0}.ticker-controls li.jnt-next{background-image:url(../images/controls_ticker.png);background-position:16px 16px}.ticker-controls li.jnt-next.over{background-position:16px 32px}.ticker-controls li.jnt-next.down{background-position:16px 0}.js-hidden{display:none}.no-js-news{padding:10px 0 0 45px;color:#F8F0DB}.left .ticker-swipe{}.left .ticker-controls,.left .ticker-content,.left .ticker-title,.left .ticker{float:left}.left .ticker-controls{padding-left:6px}.right .ticker-swipe{}.right .ticker-controls,.right .ticker-content,.right .ticker-title,.right .ticker{float:right}.right .ticker-controls{padding-right:6px}