<!DOCTYPE html>

<html>
    <head>
       	<meta name="google-site-verification" content="iLlbXxvKsBq5HgH2tuHnbbIshf13av5uW6m3ABWxN5w" />
       	<meta name="google-translate-customization" content="e5ade5391cbf9a4f-39dd95a55bfca173-gcf538643a6d4ff8d-11"></meta>
       	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.jpg")">
        <title>Dr. Vijay Ramanan | Hematologist</title>
        <meta Name="description" Content="Dr Vijay Ramanan,(MBBS, MD, DM (Clin Hemat) ), is the best Hematologist in India. He has done one of the highest number of transplants."/>
		<meta Name="author" Content="Infinity Solutions"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
				
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  		<meta name="robots" content="index, follow" />
  		<meta name="keywords" content="HEMATOLOGY,Dr Vijay Ramanan, Best Hematologist, Clinical Hematologist/Oncologist/ Bone Marrow Transplantation, Pune.,Medical Tourism" />
  		<meta name="title" content="Dr. Vijay Ramanan | Hematologist" />  		
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")?v=15">
        <script type="text/javascript" data-main="/assets/javascripts/main" src="@routes.Assets.at("javascripts/jquery-1.8.1.min.js")"></script>
       
    	</head>
		<body class="background">
			<div id="maincontainer" >
@header()		
				<div class="maincontent">
					<div class="vijayphoto">
					</div>
					<div>
        			<h2>Dr. Vijay Ramanan is a clinical hematologist and bone marrow transplant physician. </h2>
						
						<ul class="aboutul">
							<li>
								Founding Director of transplant unit at Ruby Hall Clinic, Pune. 
							</li>
							<li>
								He currently heads the transplant unit at Ruby Hall, Pune.
							</li>
							<li>
								Done over 140 bone marrow transplants in Ruby Hall Clinic, Pune .
							</li>
							<li>
								Pioneer of cord blood transplant in India.
							</li>
							<li>
								Done his D.M. Clinical hematology from C.M.C Vellore, which has the most advanced hematology labs in Asia.
							</li>
							<li>
								He is the First DM in CLINICAL HAEMATOLOGY/HAEM-ONCOLOGY in Maharastra, Madhya Pradesh, Gujarat, Andra Pradesh.
							</li>
							<li>
								Gold Medalist in M.D. and D.M. Done his MBBS and M.D.(Medicine) from prestigious B.J. Medical College, Pune.
							</li>
							<li>
								Honorary consultant at K.E.M Hospital, Apollo, Jehangir and Poona Hospital.
							</li>
							<li>
								Has started Thalassemia Day care under the aeigis of Red Cross Pune.
							</li>
							<li>
								Ex- Assistant Professor at B.J. Medical College and Sassoon General Hospital.
							</li>
							<li>
								Yashoda Hematology Clinic is the only stand alone lab doing work on Hemophilia and Thrombophilia.
							</li>
							<li>
								The center was leading recruiter for a clinical study under Dr Mannuchi of Milan University.
							</li>
							<li>
								Member of American Society of Hematology and Member of Scientific Committee of the Asia Pacific Bone Marrow Transplant.
							</li>
							<li>
								Collaboration with <a href="http://cure2children.co.uk/news.asp?id=28" target="_blank">Cure2thalassaemia - Prof Lawerence Faulkner</a>.
							</li>
							<li>
								Collaboration with <a href="http://isracast.com/article.aspx?ID=1201&t=Israel-India-Joint-Cancer-research" target="_blank">Hadassah University, Jerusalem, Israel</a>.
							</li>
							<li>
								Collaboration with <a href="http://www.curethalassemia.org/bone-marrow-transplantation-bmt/transplant-centers/" target="_blank">Dr P Sodani </a> an International giant in Thalassaemia.
							</li>

						</ul>
					
					</div>
				</div>
			@footer()
		<div class="modal"></div>

	</body>
	
</html>	