@(user: securesocial.core.java.SocialUser )
@scripts = {    
}
@main(user,"Welcome!",scripts) {
       
 			<div class="toppart">
		       <div id="slides">
		        </div>
        		<div class="mainpart">
        			<h2>Dr. Vijay Ramanan is a clinical hematologist and bone marrow transplant physician. </h2>
						
						<ul>
							<li>
								Founding Director of transplant unit at Ruby Hall Clinic, Pune. 
							</li>
							<li>
								He currently heads the transplant unit at Ruby Hall, Pune.
							</li>
							<li>
								Done over 140 bone marrow transplants in Ruby Hall Clinic, Pune .
							</li>
							<li>
								Pioneer of cord blood transplant in India.
							</li>
							<li>
								Done his D.M. Clinical hematology from C.M.C Vellore, which has the most advanced hematology labs in Asia.
							</li>
							<li>
								He is the First DM in CLINICAL HAEMATOLOGY/HAEM-ONCOLOGY in Maharastra, Madhya Pradesh, Gujarat, Andra Pradesh.
							</li>
							<li>
								Gold Medalist in M.D. and D.M. Done his MBBS and M.D.(Medicine) from prestigious B.J. Medical College, Pune.
							</li>
							<li>
								Honorary consultant at K.E.M Hospital, Apollo, Jehangir and Poona Hospital.
							</li>
							<li>
								Has started Thalassemia Day care under the aeigis of Red Cross Pune.
							</li>
							<li>
								Ex- Assistant Professor at B.J. Medical College and Sassoon General Hospital.
							</li>
							<li>
								Yashoda Hematology Clinic is the only stand alone lab doing work on Hemophilia and Thrombophilia.
							</li>
							<li>
								The center was leading recruiter for a clinical study under Dr Mannuchi of Milan University.
							</li>
							<li>
								Member of American Society of Hematology and Member of Scientific Committee of the Asia Pacific Bone Marrow Transplant.
							</li>
							<li>
								Collaboration with <a href="http://cure2children.co.uk/news.asp?id=28" target="_blank">Cure2thalassaemia - Prof Lawerence Faulkner</a>.
							</li>
							<li>
								Collaboration with <a href="http://isracast.com/article.aspx?ID=1201&t=Israel-India-Joint-Cancer-research" target="_blank">Hadassah University, Jerusalem, Israel</a>.
							</li>
							<li>
								Collaboration with <a href="http://www.curethalassemia.org/bone-marrow-transplantation-bmt/transplant-centers/" target="_blank">Dr P Sodani </a> an International giant in Thalassaemia.
							</li>

						</ul>

        		</div>

        </div>

		


    
}