<!DOCTYPE html>
<html lang="en" class="crsa-stop-animations">

<head>
       	<meta name="google-site-verification" content="iLlbXxvKsBq5HgH2tuHnbbIshf13av5uW6m3ABWxN5w" />
       	<meta name="google-translate-customization" content="e5ade5391cbf9a4f-39dd95a55bfca173-gcf538643a6d4ff8d-11"></meta>
       	<meta name="msvalidate.01" content="2760DE5AE2DDF1FA5645AB9FFFF58BB3" />
       	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.jpg")">
        <title>Dr. Vijay Ramanan | Hematologist</title>
        <meta Name="description" Content="Dr Vijay Ramanan,(MBBS, MD, DM (Clin Hemat) ), is the best Hematologist in India. He has done one of the highest number of transplants."/>
		<meta Name="author" Content="Appment"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<meta name="robots" content="index, follow" />
  		<meta name="keywords" content="HEMATOLOGY,Dr Vijay Ramanan, Best Hematologist, best bone marrow stem cell transplant in India, leading bone marrow transplant physician, Clinical Hematologist/Oncologist/ Bone Marrow Transplantation, Pune.,Medical Tourism,leading bone marrow transplan center, best thalassemia doctor, best myeloma, lymphoma treatment" />
  		<meta name="title" content="Dr. Vijay Ramanan | Hematologist" />  		
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap core CSS -->
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="assets/stylesheets/style.css" rel="stylesheet">
	<link href="assets/stylesheets/main.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="assets/stylesheets/carousel.css" rel="stylesheet">   
</head>
<!-- NAVBAR
================================================== -->

<body>
    <div class="navbar-wrapper">
        <div class="container">

            <div class="navbar navbar-custom navbar-fixed-top" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">
                        <img src="/assets/images/yashoda_logo_small.png" alt="Dr Vijay Ramanan Hematologist" />
						</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"></li>
                            <li><a href="aboutus">About Clinic</a>
                            </li>
                            <li><a href="contactus">Contact Us</a>
                            </li>
                            <li class="dropdown">
 								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
 								Appointments<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                   						<div style="display: inline-block;padding-right: 10px;float:left;">
												<practo:abs_widget widget="869e985bb9bf1ecf"></practo:abs_widget>
												<script src="https://www.practo.com/bundles/practopractoapp/js/abs_widget_helper.js"></script>
										</div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
					     <ul class="nav navbar-nav pull-right nav-pills">
					            <li>
						            <a href="https://www.facebook.com/groups/127749527387241/" class="btn btn-social-icon btn-facebook" target="_blank">
						                <i class="fa fa-facebook"></i>
						            </a>
					            </li>
					            <li>
						            <a href="https://plus.google.com/110019530475844593844/posts" class="btn btn-social-icon btn-google-plus" target="_blank">
						                <i class="fa fa-google-plus"></i>
						            </a>
					            </li>
					            <li>
						            <a href="/videos" class="btn btn-social-icon btn-youtube" target="_blank">
						                <i class="fa fa-youtube"></i>
						            </a>
					            </li>
					            <li>
						            <a href="http://haematology.blogspot.in/" class="btn btn-social-icon icon-comments" target="_blank">
						                <i class="fa fa-comments"></i>
						            </a>
					            </li>       					        
					            <li>
						            <a href="http://www.linkedin.com/profile/view?id=199427214&locale=en_US&trk=tyah&trkInfo=tas%3Avijay" class="btn btn-social-icon btn-linkedin" target="_blank">
						                <i class="fa fa-linkedin">
						             </i>
						            </a>
					            </li>
								<li>
						            <a href="https://twitter.com/drvijayramanan" class="btn btn-social-icon btn-google" target="_blank">
						                <i class="fa fa-twitter"></i>
						            </a>
					            </li>       					        
					            <li class="dropdown">
									<div id="google_translate_element"></div>
									<script type="text/javascript">
											function googleTranslateElementInit() {
								  				new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
											}
									</script>
									<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
						        </li>
										        
					      </ul>                        
                    </div>
                </div>
            </div>

        </div>
					<div class="vijayphoto" style="padding-top:80px">
					</div>
					<div style="padding-left:40px">
        			<h2>Dr. Vijay Ramanan is a clinical hematologist and bone marrow transplant physician. </h2>
						
						<ul class="aboutul">
							<li>
								Founding Director of transplant unit at Ruby Hall Clinic, Pune. 
							</li>
							<li>
								He currently heads the transplant unit at Ruby Hall, Pune.
							</li>
							<li>
								Done over 140 bone marrow transplants in Ruby Hall Clinic, Pune .
							</li>
							<li>
								Pioneer of cord blood transplant in India.
							</li>
							<li>
								Done his D.M. Clinical hematology from C.M.C Vellore, which has the most advanced hematology labs in Asia.
							</li>
							<li>
								He is the First DM in CLINICAL HAEMATOLOGY/HAEM-ONCOLOGY in Maharastra, Madhya Pradesh, Gujarat, Andra Pradesh.
							</li>
							<li>
								Gold Medalist in M.D. and D.M. Done his MBBS and M.D.(Medicine) from prestigious B.J. Medical College, Pune.
							</li>
							<li>
								Honorary consultant at K.E.M Hospital, Apollo, Jehangir and Poona Hospital.
							</li>
							<li>
								Has started Thalassemia Day care under the aeigis of Red Cross Pune.
							</li>
							<li>
								Ex- Assistant Professor at B.J. Medical College and Sassoon General Hospital.
							</li>
							<li>
								Yashoda Hematology Clinic is the only stand alone lab doing work on Hemophilia and Thrombophilia.
							</li>
							<li>
								The center was leading recruiter for a clinical study under Dr Mannuchi of Milan University.
							</li>
							<li>
								Member of American Society of Hematology and Member of Scientific Committee of the Asia Pacific Bone Marrow Transplant.
							</li>
							<li>
								Collaboration with <a href="http://cure2children.co.uk/news.asp?id=28" target="_blank">Cure2thalassaemia - Prof Lawerence Faulkner</a>.
							</li>
							<li>
								Collaboration with <a href="http://isracast.com/article.aspx?ID=1201&t=Israel-India-Joint-Cancer-research" target="_blank">Hadassah University, Jerusalem, Israel</a>.
							</li>
							<li>
								Collaboration with <a href="http://www.curethalassemia.org/bone-marrow-transplantation-bmt/transplant-centers/" target="_blank">Dr P Sodani </a> an International giant in Thalassaemia.
							</li>

						</ul>
					
					</div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->


        <!-- FOOTER -->
        <footer>
            <p class="pull-right"><a href="#">Back to top</a>
            </p>
            <p>© 2014 Appment. · <a href="#">Privacy</a> · <a href="#">Terms</a>
            </p>
        </footer>

    </div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/javascripts/bootstrap.min.js"></script>
</body>

</html>