<!DOCTYPE html>

<html>
    <head>
       	<meta name="google-site-verification" content="iLlbXxvKsBq5HgH2tuHnbbIshf13av5uW6m3ABWxN5w" />
       	<meta name="google-translate-customization" content="e5ade5391cbf9a4f-39dd95a55bfca173-gcf538643a6d4ff8d-11"></meta>
       	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.jpg")">
        <title>Dr. Vijay Ramanan | Hematologist</title>
        <meta Name="description" Content="Dr Vijay Ramanan,(MBBS, MD, DM (Clin Hemat) ), is the best Hematologist in India. He has done one of the highest number of transplants."/>
		<meta Name="author" Content="Infinity Solutions"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
				
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  		<meta name="robots" content="index, follow" />
  		<meta name="keywords" content="HEMATOLOGY,Dr Vijay Ramanan, Best Hematologist, Clinical Hematologist/Oncologist/ Bone Marrow Transplantation, Pune.,Medical Tourism" />
  		<meta name="title" content="Dr. Vijay Ramanan | Hematologist" />  		
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")?v=15">
        <script type="text/javascript" src="http://www.google.com/jsapi?key=AIzaSyBV6MeANy_ZaLB2f2c-XKCMA7hIu2Fy744"></script>  
        <script type="text/javascript" data-main="/assets/javascripts/main" src="@routes.Assets.at("javascripts/jquery-1.8.1.min.js")"></script>
	    <script type="text/javascript">
			google.load("feeds", "1")
		</script>
        
    	</head>
		<body class="background">
			<div id="maincontainer" >
@header()		
				<div class="maincontent">
					<div class="pcontactus">
								<h2>Centre for blood diseases, cancer treatment and research</h2>
								<span><b>
									109, Mangalmurti Complex, Hirabaug Chowk, Tilak Road.<br>
									Ph-02024484214(9:00AM - 6:00PM),02024484212,02024484213,02024484214(6:00PM - 9:00PM)<br>
									Mob-09890661341<br>
									</b>
								</span>
								<br><br><br>
								<iframe width="500" height="700" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=Yashoda+Hematology+Clinic,+Dadawadi,+Shukrawar+Peth,+Pune,+Maharashtra,+India&amp;hl=en&amp;sll=37.0625,-95.677068&amp;sspn=37.735377,86.572266&amp;oq=yashoda+hema&amp;t=h&amp;hq=Yashoda+Hematology+Clinic,&amp;hnear=Dadawadi,+Shukrawar+Peth,+Pune,+Maharashtra,+India&amp;ie=UTF8&amp;cid=13044589572668631542&amp;ll=18.504354,73.854733&amp;spn=0.039069,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br />

					</div>
				</div>
@footer()
		<div class="modal"></div>

	</body>
	
</html>	