@(user: securesocial.core.java.SocialUser )
@scripts = {    
}
@main(user,"Welcome!",scripts) {
       
 			<div class="toppart">
		       <div id="slides">
		        </div>
        		<div class="mainpart">
        			<h1>Yashoda Hematology Clinic</h1>
        			<h2>Centre for blood diseases, cancer treatment and research</h2>
        			<span><b>
        				109, Mangalmurti Complex, Hirabaug Chowk, Tilak Road.<br>
						Ph-02024484213(6:00PM - 9:00PM), 02024484213(9:00AM - 6:00PM), 02024484212, 02032926215<br>
						Mob-9923693304, 9325315471<br>
        				</b>
        			</span>
        			<br><br><br>
        			<iframe width="500" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=205820112565659617757.0004cb5d5fa7738698d89&amp;ie=UTF8&amp;ll=18.503731,73.855682&amp;spn=0,0&amp;t=m&amp;iwloc=0004cb5d5fad98c7cf878&amp;output=embed"></iframe><br />
        		</div>

        </div>

		


    
}