			<div class="additional">
				<div class="additionalbox">
					<div class="quicklinks">
						<h3 class="quicklinkheader">Quick Links</h3>
						<ul>
							<li>
								<a href="/">Home</a>
							</li>
							<li>
								<a href="/international">International Patients</a>
							</li>
							<li>
								<a href="/contactus">Contact Us</a>
							</li>
							<li>
								<a href="/testimonials">Testimonials</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="/aboutus">About Us</a>
							</li>
							<li>
								<a href="#" onclick="showAskUs()">Ask a Question</a>
							</li>
							<li>
								<a href="/documents">Knowledge Center</a>
							</li>
							<li>
								<a href="/videos">Videos</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="http://appment.in/" target="_blank">Appointments</a>
							</li>
							<li>
								<a href="#" onclick="showDonate()">Donate for poor</a>
							</li>
							<li>
								<a href="/labs">Our Labs</a>
							</li>
							<li>
								<a href="/clinicalstudies">Clinical Studies</a>
							</li>							
						</ul>
																													
					</div>
					<div class="android">
						<ul>
							<li>
								<a href="https://play.google.com/store/search?q=pub:Padmaraj Madatha">
  									<img alt="Android app on Google Play"
       													src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
								</a>
							</li>
						</ul>					
					</div>
					<div class="newslinks">
						<h3 class="quicklinkheader">Connect</h3>
						<ul>
							<li>
								<a href="https://www.facebook.com/groups/127749527387241/" target="_blank">
									<span class="connectLinkFB"></span>
									Facebook</a>
							</li>
							<li>
								<a href="https://twitter.com/drvijayramanan" target="_blank">
									<span class="connectLinkT"></span>
									Twitter</a>
							</li>
							<li>
								<a href="https://plus.google.com/110019530475844593844/posts"  target="_blank">
									<span class="connectLinkG"></span>
									Google+</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="http://www.linkedin.com/profile/view?id=199427214&locale=en_US&trk=tyah&trkInfo=tas%3Avijay" target="_blank">
									<span class="connectLinkLI"></span>
									LinkedIn</a>
							</li>
							<li>
								<a href="/videos">
									<span class="connectLinkYT"></span>
									Youtube</a>
							</li>
							<li>
								<a href="http://haematology.blogspot.in/" target="_blank">
									<span class="connectLinkB"></span>
									Blog</a>
							</li>
						</ul>
						
					</div>					
				</div>
			</div>

	
		    </div>
			<div class="clear"></div>
			<div  class="footer">
		      <span>&copy; 2013 Appment-All Rights Reserved</span>
		    </div>
		    
		    @modals()