@(user: securesocial.core.java.SocialUser , title: String, scripts: Html = Html(""),showhighlight: String ="N")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/global.css")">
		<link rel='stylesheet' type='text/css' href="@routes.Assets.at("stylesheets/theme.css")" />
		<link rel='stylesheet' type='text/css' href="@routes.Assets.at("stylesheets/fullcalendar.css")" />
		<link rel='stylesheet' type='text/css' href="@routes.Assets.at("stylesheets/fullcalendar.print.css")" media='print' />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.jpg")">
        <script src="@routes.Assets.at("javascripts/jquery-1.8.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/slides.min.jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jcarousellite_1.0.1c4.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/underscore-min.js")"></script>
    	<script type="text/javascript" src="@routes.Assets.at("javascripts/backbone.js")"></script>
    	<script type="text/javascript" src="@routes.Assets.at("javascripts/backbone.validation.min.js")"></script>
	    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/gfeedfetcher.js")"></script>


    </head>
    <body>

		<div id="maincontainer">
			<div id="topsection">
				<div id="logoarea">
					<a name="top"></a>
					<h1>
						<a href="/"><span>Yashoda Hematology Clinic, Pune</span>
						</a>
					</h1>
				</div>
@if(null != user){
		       	<div id="message" style="display: none;">
		        	<div id="menunav">
							<ul id="jsddm">
							    <li><a href="#">MORE..</a>
							        <ul>
							            <li><a href="/knowledgecenter">KNOWLEDGE CENTER</a></li>
							            <li><a href="/videos">VIDEOS</a></li>
							        </ul>
							    </li>
							    @if("P"==Http.Context.current().session().get("appment.usertype")){
					            <li><a href="/takeappointment">SCHEDULE</a></li>
					            }
					            <li><a href="/dashboard">DASHBOARD</a></li>
							</ul>
					</div>


					<div id="fixednav">
							Welcome @user.displayName<a href="/logout">Logout</a>
					</div>

		    	</div>

} else { 

	       	<div id="message" style="display: none;">
	        	<div id="fixednav">
					<a href="/login">Join</a>
					<a href="/login"	class="last">My Account</a>
				</div>
	    	</div>

}
			</div>
@if(null == user){

			<div id="nav">
				<ul id="jsddm">
							<li><a href="/contactus">CONTACT US</a></li>
						    <li><a href="#">MORE..</a>
						        <ul>
						            <li><a href="/takeappointment">TAKE APPOINTMENT</a></li>
						            <li><a href="/knowledgecenter">KNOWLEDGE CENTER</a></li>
						            <li><a href="#">FAQ</a></li>
						            <li><a href="/videos">VIDEOS</a></li>
						        </ul>
						    </li>

							<li><a href="/aboutus">ABOUT US</a></li>
						    <li><a href="/">HOME</a></li>
				</ul>
			</div>
}

 @content
 
@if(null == user){
         <div class="centerpart">
		        <div id="quicklinks">
		        	<div class="title">Quick Links</div>
		        	<div>
		        		<ul>
				            <li>
								<div class="info">
									<a href="/">Testimonials</a>
								</div>
								<div class="clear"></div>
							</li>
				            <li>
								<div class="info">
									<a href="/knowledgecenter">Knowledge Center</a>
								</div>
								<div class="clear"></div>
							</li>

				            <li>
								<div class="info">
									<a href="/">FAQ</a>
								</div>
								<div class="clear"></div>
							</li>
				            <li>
								<div class="info">
									<a href="/">Patient & Cancer Information</a>
								</div>
								<div class="clear"></div>
							</li>
				            <li>
								<div class="info">
									<a href="/videos">Videos</a>
								</div>
								<div class="clear"></div>
							</li>
		        		</ul>
		        	</div>
		        </div>
}
			<div class="news">
			    <div class="title">In News</div>
			    <div class="news-jcarousellite">
			    		<script type="text/javascript">
								var cssfeed=new gfeedfetcher("example1", "example1class", "_blank")
						 		cssfeed.addFeed("News", "https://news.google.co.in/news/feeds?hl=en&gl=in&q=%22Dr.+VIjay+Ramanan%22&um=1&ie=UTF-8&output=rss") //Specify "label" plus URL to RSS feed
						 		cssfeed.displayoptions("date") //show the specified additional fields
						 		cssfeed.setentrycontainer("li") //Display each entry as a list (li element)
						 		cssfeed.filterfeed(10, "date") //Show 10 entries, sort by date
						 		cssfeed.init() //Always call this last
						</script>
			    </div>
			</div>

@if(null != user){
				<div class="news" >
				    <div class="title">Events</div>
				    <div class="news-jcarousellite">
				    		<script type="text/javascript">
									var cssfeed=new gfeedfetcher("example2", "example2class", "_blank")
							 		cssfeed.addFeed("Blog", "http://bmtpune.blogspot.in/feeds/posts/default?alt=rss") //Specify "label" plus URL to RSS feed
							 		cssfeed.displayoptions("date") //show the specified additional fields
							 		cssfeed.setentrycontainer("li") //Display each entry as a list (li element)
							 		cssfeed.filterfeed(10, "date") //Show 10 entries, sort by date
							 		cssfeed.init() //Always call this last
							</script>
				    </div>
				</div>
}
		</div>

@if("Y" == showhighlight){
			<div id="highlights">
				<div id="highlights_container">
					<div id="highlights_subcontainer">
						<div id="highlights_slides">
							<a href="#" class="prev"><img src="@routes.Assets.at("images/arrow-prev.png")" width="24" height="43" alt="Arrow Prev"></a>
							<div class="highlights_slides_container">
								<div class="highlights_slide">
									<a href="http://haematology.blogspot.in/2011/10/prof-reuven-or.html" title="Ruby Hall Bone Marrow Transplant Inaguration" target="_blank"><img src="http://4.bp.blogspot.com/-jdZJUuEjqD4/TqlACtIKCJI/AAAAAAAAAhA/gRHpUqoPafQ/001.JPG" width="570" height="270" alt="Slide 1"></a>
									<div class="caption" style="bottom:0">
										<p>Dr. Vijay Ramanan with Dr. Grant</p>
									</div>
								</div>
								<div class="highlights_slide">
									<a href="https://www.facebook.com/media/set/?set=a.10150682055803439.401630.791253438&type=3" title="Hematology CME 2012 photographs." target="_blank"><img src="@routes.Assets.at("images/Hema_CME.jpg")" width="570" height="270" alt="Slide 2"></a>
									<div class="caption">
										<p>Hematology CME 2012 photographs.</p>
									</div>
								</div>
								<div class="highlights_slide">
									<a href="http://bmtpune.blogspot.in/2012/02/thalassaemia-meeting-at-red-cross.html" title="Thalassaemia meeting at Red Cross" target="_blank"><img src="http://lh5.ggpht.com/-CSFI7cTqZUg/TytVNGDJEmI/AAAAAAAAABk/B_BfgLleZHQ/2011-11-14%25252012.48.09.png" width="570" height="270" alt="Slide 2"></a>
									<div class="caption">
										<p>Thalassaemia meeting at Red Cross</p>
									</div>
								</div>
								<div class="highlights_slide">
									<a href="https://plus.google.com/u/0/photos/110019530475844593844/albums/posts/5662295842498454418" title="Ingaguration of Bone Marrow Transplant Unit" target="_blank"><img src="@routes.Assets.at("images/11 - 1.jpg")" width="570" height="270" alt="Slide 2"></a>
									<div class="caption">
										<p>Inaguration of Bone Marrow Transplant Unit</p>
									</div>
								</div>
								<div class="highlights_slide">
									<a href="https://plus.google.com/u/0/photos/110019530475844593844/albums/posts/5662295842498454418" title="Ingaguration of Bone Marrow Transplant Unit" target="_blank"><img src="@routes.Assets.at("images/11 - 3.jpg")" width="570" height="270" alt="Slide 2"></a>
									<div class="caption">
										<p>Ingaguration of Bone Marrow Transplant Unit</p>
									</div>
								</div>
								<div class="highlights_slide">
									<a href="https://plus.google.com/u/0/photos/110019530475844593844/albums/5447061999643807777" title="Prof Reuven Or visit and BMT Inauguration" target="_blank"><img src="@routes.Assets.at("images/DSC_3608.JPG")" width="570" height="270" alt="Slide 2"></a>
									<div class="caption">
										<p>Prof Reuven Or visit and BMT Inauguration</p>
									</div>
								</div>
								<div class="highlights_slide">
									<a href="https://plus.google.com/u/0/photos/110019530475844593844/albums/5447061999643807777" title="Prof Reuven Or visit and BMT Inauguration" target="_blank"><img src="@routes.Assets.at("images/DSC_3555.JPG")" width="570" height="270" alt="Slide 2"></a>
									<div class="caption">
										<p>Prof Reuven Or visit and BMT Inauguration</p>
									</div>
								</div>
								<div class="highlights_slide">
									<a href="https://plus.google.com/u/0/photos/110019530475844593844/albums/5447061999643807777" title="Prof Reuven Or visit and BMT Inauguration" target="_blank"><img src="@routes.Assets.at("images/DSC_3524.JPG")" width="570" height="270" alt="Slide 2"></a>
									<div class="caption">
										<p>Prof Reuven Or visit and BMT Inauguration</p>
									</div>
								</div>
								<div class="highlights_slide">
									<a href="https://plus.google.com/u/0/photos/110019530475844593844/albums/5447061999643807777" title="Prof Reuven Or visit and BMT Inauguration" target="_blank"><img src="@routes.Assets.at("images/DSC_3511.JPG")" width="570" height="270" alt="Slide 2"></a>
									<div class="caption">
										<p>Prof Reuven Or visit and BMT Inauguration</p>
									</div>
								</div>
								<div class="highlights_slide">
									<a href="https://plus.google.com/u/0/photos/110019530475844593844/albums/5447061999643807777" title="Prof Reuven Or visit and BMT Inauguration" target="_blank"><img src="@routes.Assets.at("images/DSC_3495.JPG")" width="570" height="270" alt="Slide 2"></a>
									<div class="caption">
										<p>Prof Reuven Or visit and BMT Inauguration</p>
									</div>
								</div>
								<div class="highlights_slide">
									<a href="https://plus.google.com/u/0/photos/110019530475844593844/albums/5447061999643807777" title="Prof Reuven Or visit and BMT Inauguration" target="_blank"><img src="@routes.Assets.at("images/DSC_3492.JPG")" width="570" height="270" alt="Slide 2"></a>
									<div class="caption">
										<p>Prof Reuven Or visit and BMT Inauguration</p>
									</div>
								</div>

							</div>

							<a href="#" class="next"><img src="@routes.Assets.at("images/arrow-next.png")" width="24" height="43" alt="Arrow Next"></a>
						</div>
					</div>
				</div>
			</div>
}
		</div>
              <div class="clear"></div>
              <div  class="footer">
                     <span>© 2012 Appment-All Rights Reserved</span>
              </div> 

  @scripts
<script type="text/javascript" src="@routes.Assets.at("javascripts/appment.js")"></script>
</body>
</html>
