<!DOCTYPE html>
<html lang="en" class="crsa-stop-animations">

<head>
       	<meta name="google-site-verification" content="iLlbXxvKsBq5HgH2tuHnbbIshf13av5uW6m3ABWxN5w" />
       	<meta name="google-translate-customization" content="e5ade5391cbf9a4f-39dd95a55bfca173-gcf538643a6d4ff8d-11"></meta>
       	<meta name="msvalidate.01" content="2760DE5AE2DDF1FA5645AB9FFFF58BB3" />
       	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.jpg")">
        <title>Dr. Vijay Ramanan | Hematologist</title>
        <meta Name="description" Content="Dr Vijay Ramanan,(MBBS, MD, DM (Clin Hemat) ), is the best Hematologist in India. He has done one of the highest number of transplants."/>
		<meta Name="author" Content="Appment"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<meta name="robots" content="index, follow" />
  		<meta name="keywords" content="HEMATOLOGY,Dr Vijay Ramanan, Best Hematologist, best bone marrow stem cell transplant in India, leading bone marrow transplant physician, Clinical Hematologist/Oncologist/ Bone Marrow Transplantation, Pune.,Medical Tourism,leading bone marrow transplan center, best thalassemia doctor, best myeloma, lymphoma treatment,best bone marrow and stem cell transplant with comprehensive care of blood cancers,aplastic anemia" />
  		<meta name="title" content="Dr. Vijay Ramanan | Hematologist" />  		
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap core CSS -->
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="assets/stylesheets/style.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="assets/stylesheets/carousel.css" rel="stylesheet">
    <script type="text/javascript">
    function sendEmail(){
    	if($('#name').val().length==0 ){
    		$("#name-message").text("Please provide us the name.")
    		
    	}else if($('#emailid').val().length==0 ){
    		$("#email-message").text("Please provide a valid email ID.")
    	}else if($('#phonenumber').val().length==0 ){
    		$("#phone-message").text("Please provide your phone number.")
    	}else {
            $.ajax({
                type: "POST",
                url: "askForm", //process to mail
                data: $('form.askForm').serialize(),
                success: function(msg){
                	$(".msg").html("Email has been sent to Dr. Vijay Ramanan. You will hear back soon. Thanks!");  
                },
                error: function(){
                    alert("failure");
                }
            });
    	}
    }
    </script>   
</head>
<!-- NAVBAR
================================================== -->

<body>
    <div class="navbar-wrapper">
        <div class="container">

            <div class="navbar navbar-custom navbar-fixed-top" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">
                        <img src="/assets/images/yashoda_logo_small.png" alt="Dr Vijay Ramanan Hematologist" />
						</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"></li>
                            <li><a href="aboutus">About Clinic</a>
                            </li>
                            <li><a href="contactus">Contact Us</a>
                            </li>
                            <li class="dropdown">
 								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
 								Appointments<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                   						<div style="display: inline-block;padding-right: 10px;float:left;">
												<practo:abs_widget widget="869e985bb9bf1ecf"></practo:abs_widget>
												<script src="https://www.practo.com/bundles/practopractoapp/js/abs_widget_helper.js"></script>
										</div>
                                    </li>
                                </ul>
                            </li>
                            <li><a data-toggle="modal" data-target="#myModal" href="#myModal">Ask Doctor</a>
                            </li>
                            
                        </ul>
					     <ul class="nav navbar-nav pull-right nav-pills">
					            <li>
						            <a href="https://www.facebook.com/groups/127749527387241/" class="btn btn-social-icon btn-facebook" target="_blank">
						                <i class="fa fa-facebook"></i>
						            </a>
					            </li>
					            <li>
						            <a href="https://plus.google.com/110019530475844593844/posts" class="btn btn-social-icon btn-google-plus" target="_blank">
						                <i class="fa fa-google-plus"></i>
						            </a>
					            </li>
					            <li>
						            <a href="/videos" class="btn btn-social-icon btn-youtube" target="_blank">
						                <i class="fa fa-youtube"></i>
						            </a>
					            </li>
								<li>
						            <a href="http://haematology.blogspot.in/" class="btn btn-social-icon icon-comments" target="_blank">
						                <i class="fa fa-comments"></i>
						            </a>
					            </li>       					        
					            <li>
						            <a href="http://www.linkedin.com/profile/view?id=199427214&locale=en_US&trk=tyah&trkInfo=tas%3Avijay" class="btn btn-social-icon btn-linkedin" target="_blank">
						                <i class="fa fa-linkedin">
						             </i>
						            </a>
					            </li>
								<li>
						            <a href="https://twitter.com/drvijayramanan" class="btn btn-social-icon btn-google" target="_blank">
						                <i class="fa fa-twitter"></i>
						            </a>
					            </li>       					        
					            <li class="dropdown">
									<div id="google_translate_element"></div>
									<script type="text/javascript">
											function googleTranslateElementInit() {
								  				new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
											}
									</script>
									<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
						        </li>
										        
					      </ul>                        
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel"  >
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <img src="/assets/images/story3.jpg" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1></h1>
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>


            <div class="item ">
                <img src="/assets/images/story7.jpg" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1></h1>
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="item ">
                <img src="/assets/images/story4.jpg" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1></h1>
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="/assets/images/story1.jpg" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1></h1>
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="item">
                <img src="/assets/images/story5.jpg" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1></h1>
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/assets/images/story2.jpg" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption" style="color:black !important">
                        <h1></h1>
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <!-- <img class="img-circle" src="http://pinegrow.com/placeholders/img3.jpg" alt="Generic placeholder image"> -->
                <h2>Information Center</h2>
                <p>To get complete details on diet to avoid cancer and complete details on Thalessemia and bonemarrow, visit our document center. You will find wealth of documents published by Dr. Vijay Ramanan or endorsed by him.</p>
                <p><a class="btn btn-default" href="documents" role="button" >View details »</a>
                </p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <!-- <img class="img-circle" src="http://pinegrow.com/placeholders/img4.jpg" alt="Generic placeholder image"> -->
                <h2>Testimonials</h2>
                <p>Dr. Vijay Ramanan has been working to improve lives of many Thalessimia patients by making them blood transfusion free. Lot of them have word of encouragement for him.</p>
                <p><a class="btn btn-default" href="testimonials" role="button">View details »</a>
                </p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
				<!-- 	<div class="col-md-4"> -->
						<div class="panel panel-default" style="text-align: left;">
							<div class="panel-heading"> <span class="glyphicon glyphicon-list-alt"></span><b>News</b></div>
								<div class="panel-body">
									<div class="row">
										<div class="col-xs-12">
											<ul id="demo3">
											</ul>
										</div>
									</div>
								</div>
								<div class="panel-footer"> </div>
							</div>
						<!-- </div> -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Some useful apps. <span class="text-muted">These are free but priceless!</span></h2>
                <p class="lead">Lot of the informtion that we go to doctor for can now be obtained over phone by keying in some basic information.<br><a href="https://play.google.com/store/search?q=padmaraj&c=apps&hl=en" target="_blank">Know More</a></p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="assets/images/and.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="assets/images/kt.jpg" alt="Generic placeholder image">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Documents with lots of information. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Dr. Vijay has published many documents which are priceless for the information they provide for which otherwise you will have to pay.<br><a href="documents" target="_blank">Know More</a></p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="assets/images/lab.jpg" alt="Generic placeholder image">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">We have affiliation with Anjali Labs.<span class="text-muted"></span></h2>
                <p class="lead">Anjali Labs, lead by Dr. Ketki Kelkar Ramanan is leading lab. It is contributing to cutting edge reasearch with <a href="http://www.genepathdx.com/" target="_blank">genepath<a>.<br><a href="labs" target="_blank">Know More</a></p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">If you want to participate in clinical studies.<span class="text-muted"></span></h2>
                <p class="lead">If you would like to Donate for poor please click <a href="http://mvrfoundation.org/" target="_blank">here</a>.<br><a href="https://play.google.com/store/search?q=padmaraj&c=apps&hl=en" target="_blank">Know More</a></p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="assets/images/clinical.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->


        <!-- FOOTER -->
        <footer>
            <p class="pull-right"><a href="#">Back to top</a>
            </p>
            <p>© 2014 Appment. · <a href="#">Privacy</a> · <a href="#">Terms</a>
            </p>
        </footer>

    </div>
    <!-- /.container -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <form name="askForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Please provide the details here:</h4>
      </div>
      <div class="modal-body">
          <input id="name" type="text" placeholder="name" style="width:80%">
          <p  id="name-message" style="color:red"></p>
          <input id="emailid" type="text" placeholder="email" style="width:80%">
          <p  id="email-message" style="color:red"></p>
          <input id="phonenumber" type="text" placeholder="phone number" style="width:80%">
          <p  id="phone-message" style="color:red"></p>
          <textarea id="query" rows="10" cols="60" placeholder="Please type your query here"></textarea>
          <p  id="query-message" style="color:red"></p>
          <label class="header green msg"><strong></strong> </label> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onClick="sendEmail()">Submit</button>
      </div>
    </div>
  </div>
  </form>
</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/javascripts/jquery.bootstrap.newsbox.min.js" type="text/javascript"></script>
    <script src="assets/javascripts/bootstrap.min.js"></script>
<script type="text/javascript">

$.ajax({
    type: "GET",
    url: "https://spreadsheets.google.com/feeds/list/1H8h4m8gP9W5VFPKPFoUIw1249_yzitZHZsoVmYn43fk/od6/public/values?alt=json", //process to mail
    success: function(data){
    	var newsdata = data.feed.entry;
    	var news="";
    	for(var n in newsdata){
    		news=news+
    		"<li class=\"news-item\">"+newsdata[n].gsx$description.$t+" "+"<a href=\""+newsdata[n].gsx$url.$t+"\" target=\"_blank\">Read more...</a></li>";
    	}
    	$("#demo3").html(news);
    	$("#demo3").bootstrapNews({
    	    newsPerPage: 3,
    	    autoplay: false,
    	    
    	    onToDo: function () {
    	        //console.log(this);
    	    }
    	});
    },
    error: function(){
        alert("failure");
    }
});

</script>

</body>

</html>