<!DOCTYPE html>

<html>
    <head>
       	<meta name="google-site-verification" content="Pb83iogJKccF9supX8rG4XA5wxC-ruvqbZY3fz4Pqs8" />
       	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.jpg")">
        <title>Dr. Vijay Ramanan | Hematologist</title>
         <meta Name="description" Content="Dr Vijay Ramanan,(MBBS, MD, DM (Clin Hemat) ), is the best Hematologist in India. He has done one of the highest number of transplants."/>
		<meta Name="author" Content="Infinity Solutions"/>		
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  		<meta name="robots" content="index, follow" />
  		<meta name="keywords" content="Dr Vijay Ramanan,Dr. Vijay Ramanan, Hematologist, Clinical Hematologist/Oncologist/ Bone Marrow Transplantation, Pune.,Medical Tourism" />
  		<meta name="title" content="Dr. Vijay Ramanan | Hematologist" />  		
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.bxslider.css")">
        <script type="text/javascript" data-main="/assets/javascripts/main" src="@routes.Assets.at("javascripts/require.js")"></script>      
        
    	</head>
		<body class="background">
			<div id="maincontainer" >
				<div class="banner" >
					<div class="logo"><img src="/assets/images/logo.png" alt="Dr Vijay Ramanan Hematoligist" /></div>
					<div class="vijay"> Dr. Vijay Ramanan</div>
					<div class="options">
						<div class="option"><span class="aboutus">About Us</span></div>
						<div class="option"><span class="contactus">Contact Us</span></div>
						<div class="option"><span class="askus">Ask Us</span></div>
					</div>
				</div>
				<div class="toppart ">
					<div class="vbanner">
						<div class="vban">
							<ul class="bxslider">
							  <li><img src="/assets/images/image1.jpg" title="Dr. Vjay Ramanan with  Prof R Or and Late Dr K B Grant" alt="Dr. Vjay Ramanan with  Prof R Or and Late Dr K B Grant" /></li>
							  <li><img src="/assets/images/image2.jpg" title="Dr Vijay Ramanan with Kenyan Health Minister" alt="Dr Vijay Ramanan with Kenyan Health Minister" /></li>
							</ul>
						</div>
			        </div>
					<div class="mainpart">
						<span id="intro">
							<h1>Dr. Vijay Ramanan - Yashoda Hematology Clinic Pune</h1>
							<h2>Excellent hematologist trained Excellent hematologist trained at best centre in world CMC Vellore. </h2>
							<h3>Pioneer of <b>Cord blood , Bone marrow, Stem cell, Haploidentical transplant</b>. </h3>
								<p>Created the best transplant centre in western India with advanced facility like HLA matching, HEPA filtered rooms with minimal recirculation and trained dedicated department at <a href="http://www.rubyhall.com" target="_blank">Ruby Hall Clinic</a>, Pune.</p>
							<p>Dr. Vijay Ramanan is best hematologist and bone marrow and stem cell transplant physician in western India. Yashoda Hematology Clinic,Pune is the only stand alone lab doing work on Hemophilia and Thrombophilia. He is also the founding Director and transplant unit head at <a href="http://www.rubyhall.com" target="_blank">Ruby Hall Clinic</a>, Pune. 
							</p>						
						</span>
		        	</div>
		        	<div class="bricklets">
		        		<div class="bricklet">
		        			<div class="brickletheader"> Knowledge Center
		        			</div>
		        			<div class="brickletinfo"> We have wealth of information on cancer, bone marrow transplant and all the related items
		        			</div>
		        			<div class="brickletmore knowledge">More>></div>
		        		</div>
		        		<div class="bricklet">
		        			<div class="brickletheader"> Testimonials
		        			</div>
		        			<div class="brickletinfo"> Read how we have been able to help patients. Stories told by them...
		        			</div>
		        			<div class="brickletmore testimonies">More>></div>
		        		</div>
		        		<div class="bricklet">
		        			<div class="brickletheader"> Videos
		        			</div>
		        			<div class="brickletinfo"> Dr. Vijay Ramanan has shared his knowledge on how to prevent cancer and how to stay healthy. 
		        			Watch here...
		        			</div>
		        			<div class="brickletmore myvideos">More>></div>
		        		</div>

		        		<div class="bricklet">
		        			<div class="brickletheader"> International Patients
		        			</div>
		        			<div class="brickletinfo"> More information for international patients on travelling to India for treatment.
		        			</div>
		        			<div class="brickletmore international">More>></div>
		        		</div>

		        	</div>		        
		       </div>
	
		    </div>
			<div class="clear"></div>
			<div  class="footer">
		      <span>© 2013 Appment-All Rights Reserved</span>
		    </div>
		<div class="modal"></div>
	</body>
	
</html>	