<!DOCTYPE html>

<html>
    <head>
       	<meta name="google-site-verification" content="iLlbXxvKsBq5HgH2tuHnbbIshf13av5uW6m3ABWxN5w" />
       	<meta name="google-translate-customization" content="e5ade5391cbf9a4f-39dd95a55bfca173-gcf538643a6d4ff8d-11"></meta>
       	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.jpg")">
        <title>Dr. Vijay Ramanan | Hematologist</title>
        <meta Name="description" Content="Dr Vijay Ramanan,(MBBS, MD, DM (Clin Hemat) ), is the best Hematologist in India. He has done one of the highest number of transplants."/>
		<meta Name="author" Content="Infinity Solutions"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
				
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  		<meta name="robots" content="index, follow" />
  		<meta name="keywords" content="HEMATOLOGY,Dr Vijay Ramanan, Best Hematologist, Clinical Hematologist/Oncologist/ Bone Marrow Transplantation, Pune.,Medical Tourism" />
  		<meta name="title" content="Dr. Vijay Ramanan | Hematologist" />  		
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")?v=22">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.bxslider.css")">
                <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/camera.css")?v=12">
        <!-- <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" /> -->
        <!-- <script type="text/javascript" data-main="/assets/javascripts/main" src="@routes.Assets.at("javascripts/require.js")"></script> -->    
        <script type="text/javascript" src="http://www.google.com/jsapi?key=AIzaSyBV6MeANy_ZaLB2f2c-XKCMA7hIu2Fy744"></script>  
        <script type="text/javascript" src='http://www.scribd.com/javascripts/scribd_api.js'></script>
        <script type="text/javascript" data-main="/assets/javascripts/main" src="@routes.Assets.at("javascripts/jquery-1.8.1.min.js")"></script>
        <script type="text/javascript" data-main="/assets/javascripts/main" src="@routes.Assets.at("javascripts/camera.min.js")"></script>
        <script type="text/javascript" data-main="/assets/javascripts/main" src="@routes.Assets.at("javascripts/jquery.easing.1.3.js")"></script>
        <script type="text/javascript" data-main="/assets/javascripts/main" src="@routes.Assets.at("javascripts/jquery.mobile.customized.min.js")"></script>
        <script type="text/javascript" data-main="/assets/javascripts/main" src="@routes.Assets.at("javascripts/jquery.ticker.min.js")"></script>
	    <script type="text/javascript">
			google.load("feeds", "1")
		</script>
    <script>
		jQuery(function(){
			
			jQuery('#camera_wrap_3').camera({
				height: '40%',
				pagination: true,
				thumbnails: false,
				imagePath: '../images/'
			});
			 $('#js-news').ticker();
			 if($(window).width()> 1000){
				 $(".item").css("width","270px");
				 $(".item").css("height","270px");
				 $(".item:eq(0)").css("background","url(/assets/images/international.jpg) no-repeat");
				 $(".item:eq(1)").css("background","url(/assets/images/kt.jpg) no-repeat");
				 $(".item:eq(2)").css("background","url(/assets/images/and.jpg) no-repeat");
				 $(".item:eq(3)").css("background","url(/assets/images/testimonials.jpg) no-repeat");
			 }else if($(window).width() > 700){
				 $(".item").css("width","150px");
				 $(".item").css("height","150px");
				 $(".item:eq(0)").css("background","url(/assets/images/international_760.jpg) no-repeat");
				 $(".item:eq(1)").css("background","url(/assets/images/kt_760.jpg) no-repeat");
				 $(".item:eq(2)").css("background","url(/assets/images/and_760.jpg) no-repeat");
				 $(".item:eq(3)").css("background","url(/assets/images/testimonials_760.jpg) no-repeat");
				 
			 }else {
				 $(".item").css("width","65px");
				 $(".item").css("height","65px");
				 $(".item:eq(0)").css("background","url(/assets/images/international_320.jpg) no-repeat");
				 $(".item:eq(1)").css("background","url(/assets/images/kt_320.jpg) no-repeat");
				 $(".item:eq(2)").css("background","url(/assets/images/and_320.jpg) no-repeat");
				 $(".item:eq(3)").css("background","url(/assets/images/testimonials_320.jpg) no-repeat");
				 
			 }

		});
	</script>
 
        
    	</head>
		<body class="background">
			<div id="maincontainer" >
				@header()
				<div class="slideshow">
					<div class="myticker">
						<ul id="js-news" class="js-hidden">
						    <li class="news-item"><a href="http://www.indianexpress.com/news/a-first-for-india-unrelated-cord-blood-transplant-treats-sickle-cell-disease/1137450/" target="_blank">Indian Express(July 4th,2013): A first for India: Unrelated cord blood transplant treats sickle cell disease.</a></li>
						    <li class="news-item"><a href="http://www.indianexpress.com/news/the-bone-identity/1115794/" target="_blank">Indian Express(May 15th 2013): The Bone Identity.</a></li>
						    <li class="news-item"><a href="http://www.indianexpress.com/news/new-thalassaemia-hope-cord-blood-from-nonrelated-donors/1113315/" target="_blank">Indian Express(May 9th 2013): New thalassaemia hope, cord blood from non-related donors - See more at: http://www.indianexpress.com/news/new-thalassaemia-hope-cord-blood-from-nonrelated-donors/1113315/#sthash.vlXuEDN4.dpuf</a></li>
						    <li class="news-item"><a href="http://www.indianexpress.com/news/charity-fund-raiser-on-thalassaemia-awareness-this-sunday/1073960/">Indian Express(Feb 14th 2013): Charity fund raiser on thalassaemia awareness this Sunday.</a></li>
						    <li class="news-item"><a href="http://www.indianexpress.com/news/tejas-survives-after-bone-marrow-transplant-from-mother/1069490/">Indian Express(Feb 5th 2013): Tejas survives after bone marrow transplant from mother.</a></li>
						    <li class="news-item"><a href="http://www.indianexpress.com/news/for-some-thalassaemic-patients-blood-transfusion-a-thing-of-past/1012814/">Indian Express(Oct 6th 2012): For some thalassaemic patients, blood transfusion a thing of past.</a></li>
						    <li class="news-item"><a href="http://www.indianexpress.com/news/sister-gives-bone-marrow-provides-lifeline-to-thalassaemic-twins/1002368/">Indian Express(Sep 14th 2012): Sister gives bone marrow, provides lifeline to thalassaemic twins.</a></li>
						</ul>
					</div>
				
					<div class="fluid_container">
				        <div class="camera_wrap camera_emboss" id="camera_wrap_3">
				        	<div data-thumb="/assets/timages/tstory3.jpg" data-src="/assets/images/story3.jpg">
				            </div>
				        	<div data-thumb="/assets/timages/tstory4.jpg" data-src="/assets/images/story4.jpg">
				            </div>
				            <div data-thumb="/assets/timages/tstory1.jpg" data-src="/assets/images/story1.jpg">
				            </div>
				            <div data-thumb="/assets/timages/tstory2.jpg" data-src="/assets/images/story2.jpg">
				            </div>
				        </div><!-- #camera_wrap_3 -->
				
				    </div><!-- .fluid_container -->
				</div>
				<div class="social">
					<img id="img_id"  src="/assets/images/social.png" border="0" alt="social" usemap="#Map"/>
					<map id ="Map" name="Map">
						    <area  shape ="rect" coords="0,0,40,40" 
						           href="/contactus"
						           target="_self"
						           onmouseover="document.getElementById('img_id').style.cursor='pointer';" 
						           onmouseout="document.getElementById('img_id').style.cursor='';">
						    <area  shape ="rect" coords="0,50,40,90" 
						           href="https://www.facebook.com/groups/127749527387241/"
						           target="_blank"
						           onmouseover="document.getElementById('img_id').style.cursor='pointer';" 
						           onmouseout="document.getElementById('img_id').style.cursor='';"> 
						    <area  shape ="rect" coords="0,100,40,130" 
						           href="https://plus.google.com/110019530475844593844/posts"
						           target="_blank"
						           onmouseover="document.getElementById('img_id').style.cursor='pointer';" 
						           onmouseout="document.getElementById('img_id').style.cursor='';"> 
						    <area  shape ="rect" coords="0,150,40,190" 
						           href="/videos"
						           target="_self"
						           onmouseover="document.getElementById('img_id').style.cursor='pointer';" 
						           onmouseout="document.getElementById('img_id').style.cursor='';"> 
						    <area  shape ="rect" coords="0,200,40,240" 
						           href="https://twitter.com/drvijayramanan"
						           target="_blank"
						           onmouseover="document.getElementById('img_id').style.cursor='pointer';" 
						           onmouseout="document.getElementById('img_id').style.cursor='';"> 
						    <area  shape ="rect" coords="0,255,40,295" 
						           href="http://www.linkedin.com/profile/view?id=199427214&locale=en_US&trk=tyah&trkInfo=tas%3Avijay"
						           target="_blank"
						           onmouseover="document.getElementById('img_id').style.cursor='pointer';" 
						           onmouseout="document.getElementById('img_id').style.cursor='';"> 
						    <area  shape ="rect" coords="0,310,40,345" 
						           href="/documents"
						           target="_self"
						           onmouseover="document.getElementById('img_id').style.cursor='pointer';" 
						           onmouseout="document.getElementById('img_id').style.cursor='';"> 
					</map>
					
					
				</div>
				<div class="maincontent">
					<section class="itemlist">
						<ul class="itemul">
							<li>
								<div class="item" onclick="window.location.href='/international'">
								</div>
							</li>
							<li>
								<div class="item" onclick="window.location.href='/documents'">
								</div>
							</li>
							<li>
								<div class="item" onclick="window.location.href='https://play.google.com/store/search?q=padmaraj%20madatha&hl=en'" >
								</div>
							</li>
							<li>
								<div class="item" onclick="window.location.href='/testimonials'">
								</div>
							</li>

						</ul>
					</section>
				</div>
@footer()
		<div class="modal"></div>

	</body>
	
</html>	