#highlights_container {
	width:580px;
	padding:10px;
	margin:0 auto;
	position:relative;
}

#highlights_subcontainer{
	width:600px;
	height:350px;
	position:relative;
}


/*
	Slideshow
*/

#highlights_slides {
	position:absolute;
	top:15px;
	left:4px;
	
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.highlights_slides_container {
	width:570px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.highlights_slides_container div.highlights_slide {
	width:570px;
	height:270px;
	display:block;
}
 .highlights_slide a img{
 background:100%;
 
 }
/*
	Next/prev buttons
*/

#highlights_slides .prev {
	position:relative;
	top:150px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;	
}

#highlights_slides .next {
	left:585px;
	top:-150px;
	position: relative;
}

.caption {
	z-index:500;
	position:relative;
	bottom:-35px;
	left:0;
	height:30px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:540px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}