#maincontainer{margin:0 auto;}
#topsection{background:#fff url(../images/logo.jpg) no-repeat top center;border-bottom:0;height:162px;margin:0 0 15px 0;overflow:hidden;padding:0;}
#topsection #searchandlogin{height:40px;margin:19px 0px 0px 652px;padding:0px;}
#topsection #searchandlogin #searcharea{padding-top:0px;}
#topsection #searchandlogin img{padding-right:5px;}
#topsection #searcharea input.searchicon{padding:2px 0 0 5px;vertical-align:top;}
#logoarea h1 a span{cursor:pointer;float:left;height:90px;text-indent:-9000px;width:600px;}
#auxillarynav {margin:12px 0px 0px 616px;padding:0px;font-size:23px;color:#9D2D2C;text-align: right;}
#auxillarynav a{color:#9D2D2C;border-right-width: 1px;border-top-style: none;border-right-style: solid;border-bottom-style:none;border-left-style: none;border-right-color: #FFFFFF;display: inline;margin: 0px;padding-top: 0px;padding-right:7px;padding-bottom: 0px;	padding-left: 5px}
#auxillarynav a.last{border:none;}
#fixednav {margin:12px 0px 0px 400px;padding:0px;font-size:12px;color:#FFFFFF;float:right;}
#fixednav a{color:white;border-right-width: 1px;border-top-style: none;border-right-style: solid;border-bottom-style:none;border-left-style: none;border-right-color: #FFFFFF;display: inline;margin: 0px;padding-top: 0px;padding-right:7px;padding-bottom: 0px;	padding-left: 5px}
#fixednav a.last{border:none;}
#menunav {top:-20px;position: relative;margin:12px 0px 0px 0px;padding:0px;font-size:12px;color:#FFFFFF;float:left;}
#menunav a{color:white;}
#menunav a.last{border:none;}
#nav{height:35px;background: url(../images/menu.jpg) top center;width: 100%;}
#secondarynav{font-size:114%;height:39px;margin:0 0 0 524px;}
#secondarynav li{color:#5d501b;display:inline;float:left;margin:0px;padding:0px}
#secondarynav li a{display:block;height:39px;overflow:hidden;text-indent:-9999px;}
#secondarynav ul{display:inline;list-style:none;margin:0;padding:0 0 15px;}
#globalnav{float:left;font-size:77%;height:39px;margin:0px;padding-left:15px;width:521px;}
#globalnav li{float:left;margin:0;padding-right:1px;}
#globalnav li a{color:#fff;display:block;float:left;clear:none;font-family:"Trebuchet MS",sans-serif;font-size:15px;font-weight: 700;height:39px;margin-left:1px;padding:9px 7px 0px;text-align:center;text-transform:uppercase;}
#globalnav ul{display:inline;list-style:none;margin:0;padding:0;}
#jsddm{	margin: 0;padding: 0;background: #9D2D2C;z-index:1000;}
#jsddm li{	float: right;list-style: none;font-size: 14px;text-align:center;z-index:1000;}
#jsddm li a{display: block;background: ##8E1609;padding: 8px;text-decoration: none;border-right: 1px solid white;border-left: 1px solid white;width: 120px;color: #EAFFED;white-space: nowrap}
#jsddm li a:hover{background: #1A4473;font-weight: bold;}
#jsddm li ul{margin: 0;padding: 0;position: absolute;visibility: hidden;border-top: 1px solid white;z-index:1000;}
#jsddm li ul li{float: none;display: inline;z-index:1000;}
#jsddm li ul li a{width: auto;background: #9F1B1B;border-bottom: 1px solid white;}
#jsddm li ul li a:hover{background: #7F1616}
#slides{float:left;}
.slides_container {width:650px;height:270px;}
.slides_container div {width:650px;height:300px;display:block;background-size: 100%;}
.slides_container img {max-width: 100%; }
#message{font-family: Arial,Helvetica,sans-serif;height:20px;position: fixed;top: 0px;left: 0px;width: 100%;z-index: 105;text-align: center;font-weight: bold;font-size: 100%;color: white;padding: 10px 0px 10px 0px;background-color: #8E1609;}
#message span{text-align: center;width: 95%;float: left;}
.close-notify{white-space: nowrap;float: right;margin-right: 10px;color: #fff;text-decoration: none;border: 2px #fff solid;padding-left: 3px;padding-right: 3px;}
.close-notify a{color: #fff;}
* { margin:0; padding:0; }
#newsticker {border: 1px solid #9D2D2C;;width:310px;background:#F2F5F7;font-family:Verdana,Arial,Sans-Serif;font-size:12px;margin:20px auto;float:right;}
#newsticker a { text-decoration:none; }
#newsticker img { border: 2px solid #FFFFFF;max-width: 100%; }
#newsticker .title {text-align:center;font-size:14px;font-weight:bold;padding:5px;color:white;background:#8E1609}
.newsticker-jcarousellite { width:100%; }
.newsticker-jcarousellite ul li{ list-style:none; display:block; padding-bottom: 10px;padding-top: 10px;border: 1px solid #CCC;}
.newsticker-jcarousellite .thumbnail { float:left; width:70px;height:70px;background-size: 100%; }
.newsticker-jcarousellite .info { float:right; width:190px; }
.newsticker-jcarousellite .info span.cat { display: block; font-size:10px; color:#808080; }
.clear { clear: both; }
#quicklinks {width:310px;background:white;font-family:Verdana,Arial,Sans-Serif;font-size:12px;float:right;border: 1px solid #9D2D2C;background: #F2F5F7;}
#quicklinks .title {text-align:center;font-size:14px;font-weight:bold;padding:5px;color:white;background:#8E1609}
#quicklinks ul li{ list-style:none; display:block; border: 1px solid #CCC;padding-bottom: 10px;padding-top: 10px;}
#quicklinks .info { width:250px;text-decoration: none;font-size:17px;font-weight:bold }
#quicklinks .info a{ text-decoration: none;font-size:17px;color:#8E1609 }
.mainpart{width:97%;padding:5px 5px 0;margin:20px auto;float:left;display: inline-block;}
.centerpart{width:20%;padding-top: 10px;float:right;}
.mainpart h1 {font-size: 28px;font-family: Tahoma;font-weight: bold;color:#8E1609;text-align:center;height:50px}
.mainpart h2 {font-size: 20px;font-family: Tahoma;font-weight: bold;color:#8E1609;height:60px;padding-top: 30px}
.mainpart ul {font-size: 14px;font-family: Tahoma;color:#8E1609;height:50px;padding-left: 40px;}
.mainpart #intro {font-size: 14px;font-family: Tahoma;color:#8E1609;padding-right: 10px;}
.toppart{padding-top: 10px;padding-left: 20px;width:75%;float:left;border-right-width:1px;border-right-style:solid;border-right-color:#8E1609;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#8E1609;border-top-width:1px;border-top-style:solid;border-top-color:#8E1609;}
#highlights{margin:0 auto;width:1050px;float:left}
tr.selected {background-color: red; color: white;}
/*light me*/
.modal_window {-moz-border-radius: 6px;background: #eef2f7;-webkit-border-radius: 6px;border: 1px solid #536376;-webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;-moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;;padding: 14px 22px;width: 600px;height:auto;position: relative;display: none;}
.modal_window #modal_form {margin-top: 13px;}
.modal_window label {display: block;margin-bottom: 10px;color: #536376;font-size: .9em;}  
.modal_window label input {padding: 2px 8px;font-size: 1.2em;line-height: 31px;}
.modal_form {position: relative;padding-bottom: 54px;margin-bottom: 12px;}
.actions {float: left;position: absolute;right: 0;height: 31px;bottom: 20px;}
a.form_button {float: left;width: 93px; height: 31px;margin-right: 15px;}
.close_x {background-size: 100%;width: 32px; height: 32px;overflow: hidden; line-height: 1000px;display: block;position: absolute; top: 5px; right: 5px;background:url(../images/x.png) no-repeat;}
.spritedselected {line-height: 200px;overflow: hidden;display: block;width:90%;height:30px}
.sprited {line-height: 200px;overflow: hidden;display: block;width:90%;}
.spritedtextarea {overflow: hidden;display: block;width:90%;height:100px}
.firstField{padding-right:20px;}
.smallText{width:100px}
/*light me*/
.news {border: 1px solid #9D2D2C;;width:310px;background:#F2F5F7;font-family:Verdana,Arial,Sans-Serif;font-size:12px;margin:20px auto;float:right;display: none}
.news a { text-decoration:none; }
.news img { border: 2px solid #FFFFFF;max-width: 100%; }
.news .title {text-align:center;font-size:14px;font-weight:bold;padding:5px;color:white;background:#8E1609}
.news-jcarousellite { width:100%; }
.news-jcarousellite ul li{ list-style:none; display:block; padding-bottom: 10px;padding-top: 10px;border: 1px solid #CCC;}
.news-jcarousellite .thumbnail { float:left; width:70px;height:70px;background-size: 100%; }
.news-jcarousellite .info { float:right; width:190px; }
.news-jcarousellite .info span.cat { display: block; font-size:10px; color:#808080; }
.clear { clear: both; }
.appmentFont{color: #536376;font-size: .9em;font-weight:bold;}
p {text-indent:50px;}
.footer{background-color: #8E1609;font-family:Verdana,Arial,Sans-Serif;font-size:12px;text-align: right;height:30px;color:white}
.arrowlistmenu{width: 30%;float: left; /*width of accordion menu*/}
.arrowlistmenu .menuheader{ /*CSS class for menu headers in general (expanding or not!)*/font: bold 14px Arial;color: white;background: black url(../images/titlebar.png) repeat-x center left;margin-bottom: 10px; /*bottom spacing between header and rest of content*/text-transform: uppercase;padding: 4px 0 4px 10px; /*header text is indented 10px*/cursor: hand;cursor: pointer;}
.arrowlistmenu .openheader{ /*CSS class to apply to expandable header when it's expanded*/background-image: url(../images/titlebar-active.png);}
.arrowlistmenu ul{ /*CSS for UL of each sub menu*/list-style-type: none;margin: 0;padding: 0;margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/}
.arrowlistmenu ul li{padding-bottom: 2px; /*bottom spacing between menu items*/}
.arrowlistmenu ul li .opensubheader{ /*Open state CSS for sub menu header*/background: lightblue !important;}
.arrowlistmenu ul li .closedsubheader{ /*Closed state CSS for sub menu header*/background: lightgreen !important;}
.arrowlistmenu ul li a{color: #A70303;background: url(../images/arrowbullet.png) no-repeat center left; /*custom bullet list image*/display: block;padding: 2px 0;padding-left: 19px; /*link text is indented 19px*/text-decoration: none;font-weight: bold;border-bottom: 1px solid #dadada;font-size: 90%;}
.arrowlistmenu ul li a:visited{color: #A70303;}
.arrowlistmenu ul li a:hover{ /*hover state CSS*/background-color: #F3F3F3;}
.arrowlistmenu ul li a.subexpandable:hover{ /*hover state CSS for sub menu header*/background: lightblue;}
.titlec {font-size: small;}
ul.videos li {float: left; width: 10em;  margin-bottom: 1em;}
ul.videos{  margin-bottom: 1em;  padding-left : 0em;  margin-left: 0em;  list-style: none;}
#playContainer{width: 20em; height: 180px;padding-left: 40%; }
#news{display: none}
#calendar{padding-left: 50px;width: 80%}
.documentdisplay{width: 68%;float:right}
#documentdisplay{width: 100%;height: 600px}
iframe {  margin-top: 20px;  margin-bottom: 30px;  -moz-border-radius: 12px;  -webkit-border-radius: 12px;  border-radius: 12px;  -moz-box-shadow: 4px 4px 14px #000;  -webkit-box-shadow: 4px 4px 14px #000;  box-shadow: 4px 4px 14px #000;    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2)}