@(providers: Iterable[securesocial.core.IdentityProvider], loginForm: Form[(String,String)], errorMsg: Option[String] = None)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

    <div class="clearfix">

        <p>
            @for(p <- providers if p.authMethod != securesocial.core.AuthenticationMethod.UserPassword) {
                @defining( "images/providers/%s.png".format(p.providerId) ) { imageUrl =>
                    <a href="@p.authenticationUrl" target="_parent"> <img src="@routes.Assets.at(imageUrl)"/></a>
                }
            }
        </p>
    </div>

