<!DOCTYPE html>

<html>
    <head>
       	<meta name="google-site-verification" content="iLlbXxvKsBq5HgH2tuHnbbIshf13av5uW6m3ABWxN5w" />
       	<meta name="google-translate-customization" content="e5ade5391cbf9a4f-39dd95a55bfca173-gcf538643a6d4ff8d-11"></meta>
       	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.jpg")">
        <title>Dr. Vijay Ramanan | Hematologist</title>
        <meta Name="description" Content="Dr Vijay Ramanan,(MBBS, MD, DM (Clin Hemat) ), is the best Hematologist in India. He has done one of the highest number of transplants."/>
		<meta Name="author" Content="Infinity Solutions"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
				
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  		<meta name="robots" content="index, follow" />
  		<meta name="keywords" content="HEMATOLOGY,Dr Vijay Ramanan, Best Hematologist, Clinical Hematologist/Oncologist/ Bone Marrow Transplantation, Pune.,Medical Tourism" />
  		<meta name="title" content="Dr. Vijay Ramanan | Hematologist" />  		
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")?v=15">
        <script type="text/javascript" data-main="/assets/javascripts/main" src="@routes.Assets.at("javascripts/jquery-1.8.1.min.js")"></script>
        <script type="text/javascript">
		$(document).ready(function() {
		    $("#faqs dd").hide();
		    $("#faqs dt").click(function () {
		        $(this).next("#faqs dd").slideToggle(500);
		        $(this).toggleClass("expanded");
		    });
		});

        </script>
       
    	</head>
		<body class="background">
			<div id="maincontainer" >
				<div class="logoheader">
					<div class="yheaders">
						<div class="logo" onclick="window.location.href='/'">
						</div>
					</div>
				</div>
		
				<div class="maincontent">
					<div class="clinicalsection">
					<dl id="faqs">
					  <dt>Clinical studies--what are they?</dt>
					  <dd>A scientific study of how a new medicine or treatment works in people. Through clinical studies, doctors 
					  find new and better ways to prevent, detect, diagnose, control, and treat illnesses.</dd>
					 
					  <dt>Who can participate?</dt>
					  <dd><p><b>Children and adults</b> with a medical condition who are seeking an alternative to available standard-ofcare treatments or who wish to contribute to research that may contribute to the health of others in the 
							future. They may be patients with newly diagnosed medical problems or they may have had a serious 
							disease for a long time.</p>
							<p><i>Healthy volunteers</i> who want to help researchers advance medical or scientific knowledge may also 
							participate in clinical research. They provide important medical information to researchers by helping 
							them learn about the safety of new investigational treatments.</p></dd>
					 
					  <dt>What are the benefits and risks of participating in a clinical study?</dt>
					  <dd>
					  	<b>Benefits:</b><br>
						Clinical studies that are well-designed and well-executed are the best approach for eligible participants to:<br>
						<ul>
							<li>Obtain medical are at health care facilities during the study.</li>
							<li>Help others by contributing to medical research.</li>	
						</ul><br>
					  	<b>Risks:</b><br>
						<ul>
							<li>There are risks to clinical studies.</li>
							<li>There may be unpleasant, serious or even lifethreatening side effects to experimental treatment.</li>
							<li>The experimental treatment may not be effective for the participant.</li>
							<li>The protocol may require more of their time and attention than would a non-protocol treatment, including trips to the study site, more treatments, hospital stays or complex dosage requirements.</li>	
						</ul>
					  </dd>
					  <dt>What happens during clinical study?</dt>
					  	<dd><p>The clinical study process depends on the kind of study being conducted. The clinical study team includes doctors and nurses as well as social workers and other health care professionals. They check the health of the participant at the beginning of the study, give specific instructions for participating in the study, and monitor the participant carefully during the study.</p>
							<p>Some clinical studies involve more tests and doctor visits than the participant would normally have for an illness or condition. For all types of studies, the participant works with a research team. Clinical study participation is most successful when the protocol is carefully followed and there is frequent contact with the research staff.</p>
						</dd>
					  <dt>How are participants protected?</dt>
					  	<dd><p>The ethical and legal codes that govern medical practice also apply to clinical studies. In addition, most clinical research is federally regulated with built-in safeguards to help protect the participants.</p>
							<p>The study follows a carefully controlled protocol, a study plan which details what researchers will do in the study. As a clinical study progresses, researchers report the results of the study at scientific meetings, to medical journals, and to various government agencies. Individual participants' names will remain secret and will not be mentioned in these reports.</p>
						</dd>
					  <dt>Can a participant leave a clinical study after it has begun?</dt>
					  	<dd><p>Yes. A participant can leave a clinical study at any time. When withdrawing from the study, the participant should let the research team know about it, and the reasons for leaving the study.</p>
						</dd>
					  <dt>What is a protocol?</dt>
					  	<dd><p>A protocol is a study plan on which all clinical studies are based. The plan is carefully designed to safeguard the health of the participants as well as answer specific research questions. A protocol describes what types of people may participate in the study; the schedule of tests, procedures, medications, and dosages; and the length of the study. While in a clinical study, participants following a protocol are seen regularly by the research staff to monitor their health and to determine the safety and effectiveness of their treatment.</p>
						</dd>
					  <dt>What is a placebo?</dt>
					  	<dd><p>A placebo is an inactive pill, liquid, or powder that has no treatment value. In clinical studies, experimental treatments are often compared with placebos to assess the experimental treatment’s effectiveness. In some studies, the participants in the control group will receive a placebo instead of an active drug or experimental treatment.</p>
						</dd>
					  <dt>What is a control or control group?</dt>
					  	<dd><p>A control is the standard by which experimental observations are evaluated. In many clinical studies, one group of patients will be given an experimental drug or treatment, while the control group is given either a standard treatment for the illness or a placebo.</p>
						</dd>
					  <dt>Understanding clinical study phases?</dt>
					  	<dd><p><b>Phase I:</b> Researchers test an investigational drug in a small number of people by giving it to either healthy volunteers or patients to evaluate its safety, determine a safe dosage range and identify side effects.</p>
					  	<p><b>Phase II:</b> The investigational drug is given to a larger number of people who have a particular disease or condition to further evaluate its safety and often to assess its effectiveness.</p>
					  	<p><b>Phase III:</b> Several hundred to several thousand people with the appropriate disease or condition 
					participate in these studies. The investigational drug undergoes additional testing to further determine its safety and effectiveness, monitor side effects, and compare it to commonly used treatments or placebo.</p>
					  	<p><b>Phase IV:</b> After a drug is available by prescription, additional information about a drug's risks, benefits and use may be gathered.</p>
						</dd>
					  <dt>What is a screening process?</dt>
					  	<dd><p>All potential clinical study participants must be evaluated by the study doctor to make sure they meet the eligibility requirements. Most clinical study screenings require a physical examination to assess height and weight, temperature, blood pressure, and blood and urine tests. Often, an electrocardiogram is conducted, which is a painless, noninvasive test that records the electrical activity of the heart.</p>
							<p>It is also common for a screening to include blood and urine testing as well as other diagnostic evaluations.</p>
						</dd>
						<dt>Will there be any cost to me if I participate in a clinical study?</dt>
					  	<dd><p>Study medications, procedures and tests, as well as visits, may be provided without cost to participants. Information about costs is included in the informed consent form and the study doctor will answer any questions about cost that you may have.</p>
						</dd>
						<dt>Whom can I contact regarding clinical studies?</dt>
					  	<dd><p>Yashoda hematology clinic:</p>
							<p>+91 20 24484213/4</p>
						</dd>
						<dt>What clinical trials are going on now?</dt>
					  	<dd>
					  		<ul>
							<li>Leukemia</li>
							<li>Lymphoma</li>
							<li>Myeloma</li>
							<li>Bone marrow transplants</li>
							<li>Thalassaemia</li>
							</ul>
						</dd>
						<dt>Will I be paid for participating?</dt>
					  	<dd><p>Some studies will compensate subjects for time and inconvenience for participation in a trial, but for others, study participants are not paid. Generally expenses associated with visits, such as travel costs or parking while in clinic for study procedures are reimbursed. The study coordinator will explain reimbursements during the informed consent process.</p>
						</dd>
					
					  
					</dl>
					</div>
				</div>
		@footer()
		<div class="modal"></div>

	</body>
	
</html>	