@(user: securesocial.core.java.SocialUser ,message: String)
@scripts = {    
	<script type='text/javascript' src="@routes.Assets.at("javascripts/jquery-ui-1.8.23.custom.min.js")"></script>
	<script type='text/javascript' src="@routes.Assets.at("javascripts/fullcalendar.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/dashboardview.js")"></script>
}
@main(user,"Welcome!",scripts) {
 			<div class="toppart">
        		<div class="mainpart">
        		<div id='calendar'></div>
        	</div>

        </div>



    
}