
				<div class="logoheader">
					<div class="yheaders">
						<div class="logo" onclick="window.location.href='/'">
							<!-- <img src="/assets/images/yashoda_logo.jpg" alt="Dr Vijay Ramanan Hematologist" /> -->
						</div>
						<div id="google_translate_element"></div>
						<script type="text/javascript">
								function googleTranslateElementInit() {
								  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
								}
						</script>
						<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
					</div>
				</div>