@(user: securesocial.core.java.SocialUser ,message: String)
@scripts = {
	<script type="text/javascript">
	$(".toppart").css('height', '500px');
	</script>
    
}
	@main(user,"Welcome!",scripts,"Y") {
				<div id="ss" class="leftarrowdiv"></div>
				<div id="ss1" class="uparrowdiv"></div>
				<div class="toppart ">
			       <div id="slides">
			        </div>
	        		<div class="mainpart">
	        		<br>
						<span id="intro">
							<p><b>"Yashoda Hematology Clinic"</b> is run by Dr. Vijay Ramanan who is clinical hematologist and bone marrow physicians. Yashoda Hematology Clinic,Pune is the only stand alone lab doing work on Hemophilia and Thrombophilia. He is also the founding Director and transplant unit head at <a href="http://www.rubyhall.com" target="_blank">Ruby Hall</a>, Pune. 
							</p><br>
							<p>
								We specialize in diagnosis and treatment of :
								<ul>
									<li> Aplastic anemia and other nutritional anemias
									</li>
									<li> Polycythemia
									</li>
									<li> Neutropenia, P.U.O.
									</li>
									<li> Thrombocytopenia of all types-ITP, Dengue etc
									</li>
									<li> Haemophilia and other bleeding disorders
									</li>
									<li> Thalassaemia and other haemoglobinopathies
									</li>
									<li> Problems with immunity - cogenitial of acquired
									</li>
									<li> Recurrent pregnancy losses
									</li>
									<li> Myelodysplastic syndrome
									</li>
									<li> Leukemias: CML/CLL/AML/ALL
									</li>
									<li> Lymphoma - Hodgkin's and Non Hodgkin's
									</li>
									<li> Myeloma and other cancers, myclofibrosis
									</li>
									<li> Bone marrow transplantation and allogenic/autologous peripheral blood steam cells transplant
									</li>
									
								</ul>
							</p>							
						</span>
	        		</div>
	
	        </div>
	
	
	
	
	
	}
