@(documents: java.util.List[Documents])
<!DOCTYPE html>

<html>
    <head>
       	<meta name="google-site-verification" content="iLlbXxvKsBq5HgH2tuHnbbIshf13av5uW6m3ABWxN5w" />
       	<meta name="google-translate-customization" content="e5ade5391cbf9a4f-39dd95a55bfca173-gcf538643a6d4ff8d-11"></meta>
       	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.jpg")">
        <title>Dr. Vijay Ramanan | Hematologist</title>
        <meta Name="description" Content="Dr Vijay Ramanan,(MBBS, MD, DM (Clin Hemat) ), is the best Hematologist in India. He has done one of the highest number of transplants."/>
		<meta Name="author" Content="Infinity Solutions"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
				
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  		<meta name="robots" content="index, follow" />
  		<meta name="keywords" content="HEMATOLOGY,Dr Vijay Ramanan, Best Hematologist, Clinical Hematologist/Oncologist/ Bone Marrow Transplantation, Pune.,Medical Tourism" />
  		<meta name="title" content="Dr. Vijay Ramanan | Hematologist" />  		
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")?v=12">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.bxslider.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tabs.css")?v=12">
        <!-- <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" /> -->
        <!-- <script type="text/javascript" data-main="/assets/javascripts/main" src="@routes.Assets.at("javascripts/require.js")"></script> -->    
        <script type="text/javascript" src="http://www.google.com/jsapi?key=AIzaSyBV6MeANy_ZaLB2f2c-XKCMA7hIu2Fy744"></script>  
        <script type="text/javascript" src='http://www.scribd.com/javascripts/scribd_api.js'></script>
        <script type="text/javascript" data-main="/assets/javascripts/main" src="@routes.Assets.at("javascripts/jquery-1.8.1.min.js")"></script>
        <script type="text/javascript" data-main="/assets/javascripts/main" src="@routes.Assets.at("javascripts/tdi.tabs.js")"></script>
	    <script type="text/javascript">
			google.load("feeds", "1");
			$.fn.onAvailable = function(fn){
	    	    var sel = this.selector;
	    	    var timer;
	    	    var self = this;
	    	    if (this.length > 0) {
	    	        fn.call(this);   
	    	    }
	    	    else {
	    	        timer = setInterval(function(){
	    	            if ($(sel).length > 0) {
	    	                fn.call($(sel));
	    	                clearInterval(timer);  
	    	            }
	    	        },50);  
	    	    }
	    	};
			$(document).ready(function() {
				$("#adddivtab").dynatabs({
					tabBodyID : 'ktcontent',
					showCloseBtn : true
				});
			});
			function loadDocument(docId,accessKey,title){
	        	$('.maincontent').append("<div id=\""+docId+"\"></div>");

				 var scribd_doc = scribd.Document.getDoc(docId, accessKey);
				 scribd_doc.addParam('default_embed_format', 'flash');
				scribd_doc.addParam('jsapi_version', '1');
				scribd_doc.addParam('mode', 'book');
				scribd_doc.addParam('allow_share', false);
				
				 scribd_doc.write(docId);
				 $("#"+docId +"> embed").onAvailable(function(){
						$.addDynaTab({
							tabID : 'adddivtab',
							type : 'div',
							divID : docId,
							tabTitle : title
						});
				 });
			} 

		</script>
        
    	</head>
		<body class="background">
			<div id="maincontainer" >
				<div class="logoheader">
					<div class="yheaders">
						<div class="logo" onclick="window.location.href='/'">
							<!-- <img src="/assets/images/yashoda_logo.jpg" alt="Dr Vijay Ramanan Hematologist" /> -->
						</div>
						<div id="google_translate_element"></div>
						<script type="text/javascript">
								function googleTranslateElementInit() {
								  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
								}
						</script>
						<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
					</div>
				</div>
				
				<div class="maincontent" style="padding-top: 20px;">
					<ul class="tabs" id="adddivtab">
 						<li><a href="#mainTab">Documents</a></li>
			 		</ul>
					<div class="tabcontents" id="ktcontent">
						<div id="mainTab">
						
			 				<table class="knowledgetable">
			 				@for(document  <- documents ){
			 					<tr>
			 						<td width="30%">
			 							<a href="#"  onClick="loadDocument('@document.documentId','@document.accessKey','@document.title')">
			 								<img src="@document.thumbNailURI">
			 							</a>
			 						</td>
			 						<td width="70%">
			 							<div class="desc">
			 								<h2>
			 									<a href="#"  onClick="loadDocument('@document.documentId','@document.accessKey','@document.title')">
			 										@document.title
			 									</a>
			 								</h2>
			 								<div>
			 									@document.description
			 								</div>
			 							</div>
			 						</td>
			 					</tr>
			 				}
			 				</table>
			 			</div>
			 		</div>
				</div>


	
		    </div>
			<div class="clear"></div>
			<div  class="footer">
		      <span>© 2013 Appment-All Rights Reserved</span>
		    </div>
		<div class="modal"></div>

	</body>
	
</html>	