@(user: securesocial.core.java.SocialUser , title: String, scripts: Html = Html(""),showhighlight: String ="N")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/global.css")">
		<link rel='stylesheet' type='text/css' href="@routes.Assets.at("stylesheets/theme.css")" />
		<link rel='stylesheet' type='text/css' href="@routes.Assets.at("stylesheets/fullcalendar.css")" />
		<link rel='stylesheet' type='text/css' href="@routes.Assets.at("stylesheets/jalert.css")" />
		<link rel='stylesheet' type='text/css' href="@routes.Assets.at("stylesheets/jquery.loadmask.css")" />
		
		<link rel='stylesheet' type='text/css' href="@routes.Assets.at("stylesheets/fullcalendar.print.css")" media='print' />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.jpg")">
        <script src="@routes.Assets.at("javascripts/jquery-1.8.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/slides.min.jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jcarousellite_1.0.1c4.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/underscore-min.js")"></script>
    	<script type="text/javascript" src="@routes.Assets.at("javascripts/backbone.js")"></script>
    	<script type="text/javascript" data-main="@routes.Assets.at("javascripts/main.js")" src="@routes.Assets.at("javascripts/require.js")"></script>
    	<script type="text/javascript" src="@routes.Assets.at("javascripts/backbone.validation.min.js")"></script>
    	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.jalert.packed.js")"></script>
    	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.loadmask.min.js")"></script>
	    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/gfeedfetcher.js")"></script>
	    <script type="text/javascript" src="http://www.google.com/jsapi?key=AIzaSyBV6MeANy_ZaLB2f2c-XKCMA7hIu2Fy744"></script>
	    <script type="text/javascript" src="http://swfobject.googlecode.com/svn/trunk/swfobject/swfobject.js"></script>
	    
<script>
$(document).ready(function()
{  $('.button > a').click(function(e){
	//alert(e.pageX +', '+ e.pageY);
	var top = e.pageY-20;
	//$("#ss").toggle();
	//$("#ss").animate({  'top': top+'px' });
	  $('#slides').animate({top:"400px"},'slow');
	});
});
</script>

    </head>
    <body class="background">

		<div id="maincontainer" >
			
	<div class="banner" onclick='window.location.href="/"'>Welcome to Yashoda Hematology Clinic, Pune
	</div>

	<div>
		       	<div id="message" style="display: none;">
		        	<div id="menunav">
							<ul id="jsddm">
@if(null == user){							
							<li><a id="loginbutton" href="#" >LOGIN</a></li>							
				}
							<li><a id="contactus" href="#">CONTACT US</a></li>
							<li><a id="aboutus" href="#">ABOUT US</a></li>
							</ul>
					</div>




		    	</div>

	<iframe id="loginframe" src="/login" scrolling="no"></iframe>		
				<div class="control" >
@if(null == user){							
				<div class="button"><a id="schedulelogin" href="#">SCHEDULE APPOINTMENT</a></div>
				}
@if(null != user){	
				<div class="button"><a  href="/dashboard">DASHBOARD</a></div>	
				 @if("P"==Http.Context.current().session().get("appment.usertype")){					
				<div class="button"><a  href="/takeappointment">SCHEDULE APPOINTMENT</a></div>
				}
				}
				
				
				<div class="button"><a id="knowledge" href="#">KNOWLEDGE CENTER</a></div>
				<div class="button"><a href="#">FAQ</a></div>
				<div class="button"><a id="videos" href="#">VIDEOS</a></div>
				</div>

 @content
@if(null != user){	
 					<div class="fixednav">
							<pre>Welcome @user.displayName <a href="/logout">Logout</a> </pre>
					</div>

}
		</div>

		</div>
              <div class="clear"></div>
              <div  class="footer">
                     <span>© 2012 Appment-All Rights Reserved</span>
              </div>
               

  @scripts
<script type="text/javascript" src="@routes.Assets.at("javascripts/appment.js")"></script>
</body>
</html>

<script type="text/template" id="aboutus-template">
        			<h2>Dr. Vijay Ramanan is a clinical hematologist and bone marrow transplant physician. </h2>
						
						<ul class="aboutul">
							<li>
								Founding Director of transplant unit at Ruby Hall Clinic, Pune. 
							</li>
							<li>
								He currently heads the transplant unit at Ruby Hall, Pune.
							</li>
							<li>
								Done over 140 bone marrow transplants in Ruby Hall Clinic, Pune .
							</li>
							<li>
								Pioneer of cord blood transplant in India.
							</li>
							<li>
								Done his D.M. Clinical hematology from C.M.C Vellore, which has the most advanced hematology labs in Asia.
							</li>
							<li>
								He is the First DM in CLINICAL HAEMATOLOGY/HAEM-ONCOLOGY in Maharastra, Madhya Pradesh, Gujarat, Andra Pradesh.
							</li>
							<li>
								Gold Medalist in M.D. and D.M. Done his MBBS and M.D.(Medicine) from prestigious B.J. Medical College, Pune.
							</li>
							<li>
								Honorary consultant at K.E.M Hospital, Apollo, Jehangir and Poona Hospital.
							</li>
							<li>
								Has started Thalassemia Day care under the aeigis of Red Cross Pune.
							</li>
							<li>
								Ex- Assistant Professor at B.J. Medical College and Sassoon General Hospital.
							</li>
							<li>
								Yashoda Hematology Clinic is the only stand alone lab doing work on Hemophilia and Thrombophilia.
							</li>
							<li>
								The center was leading recruiter for a clinical study under Dr Mannuchi of Milan University.
							</li>
							<li>
								Member of American Society of Hematology and Member of Scientific Committee of the Asia Pacific Bone Marrow Transplant.
							</li>
							<li>
								Collaboration with <a href="http://cure2children.co.uk/news.asp?id=28" target="_blank">Cure2thalassaemia - Prof Lawerence Faulkner</a>.
							</li>
							<li>
								Collaboration with <a href="http://isracast.com/article.aspx?ID=1201&t=Israel-India-Joint-Cancer-research" target="_blank">Hadassah University, Jerusalem, Israel</a>.
							</li>
							<li>
								Collaboration with <a href="http://www.curethalassemia.org/bone-marrow-transplantation-bmt/transplant-centers/" target="_blank">Dr P Sodani </a> an International giant in Thalassaemia.
							</li>

						</ul>



</script>
<script type="text/template" id="contactus-template">
 
        			<h1>Yashoda Hematology Clinic</h1>
        			<h2>Centre for blood diseases, cancer treatment and research</h2>
        			<span><b>
        				109, Mangalmurti Complex, Hirabaug Chowk, Tilak Road.<br>
						Ph-02024484213(6:00PM - 9:00PM), 02024484213(9:00AM - 6:00PM), 02024484212, 02032926215<br>
						Mob-9923693304, 9325315471<br>
        				</b>
        			</span>
        			<br><br><br>
        			<iframe width="500" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=205820112565659617757.0004cb5d5fa7738698d89&amp;ie=UTF8&amp;ll=18.503731,73.855682&amp;spn=0,0&amp;t=m&amp;iwloc=0004cb5d5fad98c7cf878&amp;output=embed"></iframe><br />
 
</script>
<script type="text/template" id="knowledge-template">
<div class="documentdisplay"><iframe id="documentdisplay" name="documentdisplay"></iframe></div>
</script>
<script type="text/template" id="videos-template">
<div id="playerContainer" style="padding-left: 25%">
<object id="player"></object>
</div>
<div id="videos2"></div>
<script type='text/javascript' src="http://gdata.youtube.com/feeds/users/bmtpune/uploads?alt=json-in-script&callback=showMyVideos2&max-results=30"></script> 
</iframe>
</script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/indexview.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/KnowledgeView.js")"></script>